.footer-carousel {
    &__item {
        position: relative;
        height: 180px;

        @include breakpoint(medium) {
            height: 200px;
        }

        @include breakpoint(large) {
            height: 160px;
        }

        .row {
            position: relative;
            z-index: 1;
            height: 100%;
        }

        img {
            @include abs-center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__text {
        background-color: rgba($white, 0.8);
        padding: 15px 25px;
        @include abs-center;
        width: calc(100% - 20px);
        max-height: 180px;
        overflow: hidden;

        @include breakpoint(medium) {
            background-color: rgba($white, 0.65);
            left: 0;
            transform: translate(10px, -50%);
        }

        p {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 16px, 18px);
            line-height: 1.4;
        }
    }
}
