.global-hero-short-wrapper {
    .global-hero-short {
        position: relative;
        height: 56px;
        width: 100%;
        overflow: hidden;

        @include breakpoint(medium) {
            height: 63px;
        }

        @include breakpoint(large) {
            height: 108px;
        }

        img {
            @include abs-center;
            transform: translate(-50%, -50%) scale(1.1);
            filter: blur(5px);
        }
    }
}
