.hero-experience {
    position: relative;

    @include breakpoint(large) {
        &.has-subheading {
            margin-bottom: -30px;

            .hero-experience__content {
                max-width: $site-width;
                padding: $row-margin-small;

                @include breakpoint(medium) {
                    max-width: 80%;
                }

                @include breakpoint(large) {
                    padding: $row-margin-large;
                    max-width: 970px;
                }
            }
        }
    }

    &__wrapper {
        width: 100%;
        position: relative;
        overflow: hidden;

        &--small {
            height: 35vh;
            min-height: 220px;

            @include breakpoint(medium) {
                height: 40vh;
                min-height: 400px;
            }
        }

        &--medium {
            height: 40vh;
            min-height: 230px;

            @include breakpoint(medium) {
                height: 50vh;
                min-height: 500px;
            }
        }

        &--large {
            height: 70vh;
            min-height: 380px;

            @include breakpoint(medium) {
                height: 75vh;
                min-height: 650px;
            }
        }

        &--full {
            height: 100vh;

            @include breakpoint(medium) {
                min-height: 650px;
            }
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba($black, 0.3) 0%, rgba($black, 0) 100%);
        z-index: 1;

        @include breakpoint(medium) {
            background: linear-gradient(to bottom, rgba($black, 0.3) 0%, rgba($black, 0) 85%);
            height: 200px;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        will-change: transform;
    }

    &__icon {
        fill: $white;
        width: 50px;
        height: 50px;
        position: relative;
        bottom: -10px;
        left: -5px;

        @include breakpoint(medium) {
            top: 8px;
            width: 80px;
            height: 80px;
            left: -8px;
        }
    }

    &__content {
        @include abs-center;
        z-index: 2;
        width: 100%;
        max-width: $site-width;
        padding: $row-margin-small;

        h1,
        p {
            color: $white;
            text-shadow: 0px 0px 12px rgba($black, 0.04);
            text-align: left;
        }

        h1 {
            font-weight: 700;
            word-spacing: 4px;
            line-height: 1.1;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 50px, 70px);

            @include breakpoint(medium) {
                max-width: 80%;
                max-width: 565px;
            }
        }

        button {
            margin-top: 20px;

            @include breakpoint(medium) {
                margin-top: 30px;
            }
        }
    }

    &__secondary {
        overflow: hidden;
        background-color: $white;
        width: 100%;
        max-width: $site-width - 250px;
        min-height: 90px;
        margin: 0 auto;
        text-align: center;
        position: relative;
        padding: 20px;

        @include breakpoint(large) {
            width: calc(100% - 40px);
            padding: 30px 100px 0;
            top: -90px;
        }

        a {
            margin-top: 15px;
        }

        h2 {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 36px, 50px);
        }

        p,
        ul li {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 16px, 22px);
            text-align: left !important;
        }

        ul,
        ol {
            padding: 0 0 0 25px;
        }

        ul li {
            list-style: none;

            &:before {
                content: '\2022';
                font-size: 20px;
                line-height: 1;
                position: relative;
                left: -8px;
                top: 1px;
                color: $peach;

                @include breakpoint(medium) {
                    font-size: 30px;
                }
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.35);
    }
}
