.hero-standard {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    position: relative;
    overflow: hidden;

    @include breakpoint(medium) {
        height: 85vh;
        min-height: 650px;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba($black, 0.3) 0%, rgba($black, 0) 100%);
        z-index: 1;

        @include breakpoint(medium) {
            background: linear-gradient(to bottom, rgba($black, 0.35) 0%, rgba($black, 0) 85%);
            height: 200px;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        will-change: transform;
    }

    &__container {
        @include abs-center;
        z-index: 1;
        width: 100%;
        max-width: $site-width;
        padding: $row-margin-small;

        @include breakpoint(large) {
            padding: $row-margin-large;
        }
    }

    &__content {
        @include abs-center;
        z-index: 2;
        width: 100%;
        max-width: $site-width;
        padding: $row-margin-small;

        @include breakpoint(medium) {
            max-width: 80%;
        }

        @include breakpoint(large) {
            padding: $row-margin-large;
            max-width: $site-width;
        }

        h1,
        p {
            color: $white;
            text-shadow: 0px 0px 12px rgba($black, 0.04);
            text-align: left;
        }

        h1 {
            font-weight: 700;
            max-width: 80%;
            word-spacing: 1px;
            line-height: 1;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 38px, 70px);

            @include breakpoint(medium) {
                max-width: 550px;
                max-width: 550px;
            }
        }

        p {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 18px, 23px);
            width: 100%;
            max-width: 450px;
            @include fluid-type(
                margin-bottom,
                map-get($breakpoints, medium),
                map-get($breakpoints, xlarge),
                16px,
                32px
            );
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.25);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to top, rgba($black, 0.3) 0%, rgba($black, 0) 100%);
        z-index: 1;

        @include breakpoint(medium) {
            height: 350px;
            background: linear-gradient(to top, rgba($black, 0.3) 0%, rgba($black, 0) 90%);
        }
    }
}
