.hero-blog {
    &__wrapper {
        width: 100%;
        height: 30vh;
        min-height: 100px;
        position: relative;
        overflow: hidden;

        @include breakpoint(medium) {
            height: 50vh;
            min-height: 650px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(30vh - 18px);
        background: linear-gradient(to bottom, rgba($black, 0.3) 0%, rgba($black, 0) 100%);
        z-index: 1;

        @include breakpoint(medium) {
            background: linear-gradient(to bottom, rgba($black, 0.23) 0%, rgba($black, 0) 85%);
            height: 200px;
        }
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        will-change: transform;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.15);
    }
}
