button.btn-scroll-down {
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    // outline: none;

    @include breakpoint(medium) {
        bottom: 50px;
    }

    svg {
        width: 35px;
        height: 70px;
        fill: $white;

        @include breakpoint(medium) {
            width: 60px;
            height: 35px;
        }
    }
}
