body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include hidden-hover-thing;
    background-color: rgba($black, 0.55);
    z-index: 2;
}

body.search-active {
    .search-dialog {
        @include visible-hover-thing;
        transform: translate(-50%, -50%);
    }

    &:after {
        @include visible-hover-thing;
    }
}

.search-form {
    width: 100%;

    .filters-btn {
        display: inline-block;
        margin-top: 10px;
        border-bottom: 0 !important;

        &:after {
            @include right-angle('black');
            transform: rotate(90deg);
            position: relative;
            top: -3px;
            left: 3px;
        }

        &.active:after {
            transform: rotate(-90deg);
            top: 1px;
        }

        @include breakpoint(large) {
            display: none;
        }
    }
}

.search-field {
    width: 100%;
    border: solid 1px $slate;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    height: 40px;
    background-color: $white;
    @include no-webkit;

    @include breakpoint(medium) {
        padding: 15px;
        height: 51px;
    }

    ::placeholder {
        font-family: $body-font;
    }
}

.search-dialog {
    @include abs-center;
    display: block !important;
    z-index: 50;
    background-color: rgba($white, 0.9);
    padding: 10px;
    border-radius: 10px;
    width: calc(100% - 8px);
    max-width: 700px;
    box-shadow: 0px 2px 16px -9px rgba($black, 0.95);
    @include hidden-hover-thing;
    transform: translate(-50%, calc(-50% + 20px));

    @include breakpoint(medium) {
        padding: 20px;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: -35px;

        svg {
            width: 20px;
            height: 20px;
            fill: $white;

            @include breakpoint(medium) {
                width: 15px;
                height: 15px;
            }
        }
    }

    &__input-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        cursor: pointer;
        background-color: $slate;
        border: solid 1px $slate;
        border-left: 0;
        border-radius: 0 8px 8px 0;
        height: 40px;
        width: 60px;
        order: 2;

        @include breakpoint(medium) {
            height: 51px;
        }

        &:hover {
            background-color: lighten($slate, 15%);
        }

        svg {
            width: 20px;
            height: 20px;
            fill: $white;

            @include breakpoint(medium) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__input {
        order: 1;
        width: calc(100% - 60px);
    }

    &__filters {
        width: 100%;
        order: 3;
        margin-top: 15px;
        column-count: 2;
        font-size: 13px;
        display: none;

        @include breakpoint(medium) {
            column-count: 3;
            font-size: 15px;
        }

        @include breakpoint(medium) {
            display: block;
        }

        label {
            margin-left: 5px;
        }
    }
}
