.section-nav {
    margin: 0 auto 10px;
    overflow: hidden;

    border-radius: 8px;
    position: relative;

    @include breakpoint(medium) {
        margin: 0 auto 30px;
    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     display: block;
    //     right: 0;
    //     top: 0;
    //     height: 100%;
    //     width: 30px;
    //     background: linear-gradient(to right, rgba($slate, 0) 0%, rgba($slate, 0.93) 69%, rgba($slate, 1) 74%);

    //     @include breakpoint(medium) {
    //         content: none;
    //     }
    // }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        height: 46px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }
        &--item {
            a {
                color: $white;
                border-bottom: 0;
                padding: 13px 20px;
                display: block;
                height: 100%;
                background-color: $slate;
                white-space: nowrap;
                @include fluid-type(
                    font-size,
                    map-get($breakpoints, medium),
                    map-get($breakpoints, xxlarge),
                    13px,
                    14px
                );

                @include breakpoint(medium) {
                    padding: 12px 20px;
                }

                &:after {
                    @include right-angle('white');
                    position: relative;
                    top: -1px;
                    width: 14px;
                    height: 16px;
                }

                &:hover {
                    color: $white;
                    border-bottom: 0;
                    background-color: lighten($slate, 8%);
                }
            }

            &.view-all {
                a {
                    font-weight: bold;
                    text-transform: uppercase;
                    padding: 13px 40px 13px 20px;

                    &:after {
                        width: 13px !important;
                        height: 18px !important;
                    }

                    @include breakpoint(medium) {
                        padding: 12px 20px;
                    }
                }
            }
        }
    }

    &.accomm .section-nav__list--item.view-all a {
        background-color: $orange;
        color: $slate;

        &:after {
            @include right-angle('black');
            top: -2px;
        }

        &:hover {
            background-color: $drk-orange;
        }
    }

    &.restaurant .section-nav__list--item.view-all a {
        background-color: $blue;
        color: $slate;

        &:after {
            @include right-angle('black');
            top: -2px;
        }

        &:hover {
            background-color: $drk-blue;
        }
    }

    &.event .section-nav__list--item.view-all a {
        background-color: $peach;
        color: $slate;

        &:hover {
            background-color: $drk-peach;
        }
    }

    &.attraction .section-nav__list--item.view-all a {
        background-color: $green;
        color: $slate;

        &:after {
            @include right-angle('black');
            top: -2px;
        }

        &:hover {
            background-color: $drk-green;
        }
    }
}
