.tile-links-section {
    &--grey {
        background-color: $light-grey !important;
    }

    &--white {
        background-color: $white !important;
    }

    .slick-slide > div {
        padding: 0;
    }

    .slick-prev-arrow,
    .slick-next-arrow {
        display: inline-block;
        position: relative;
        background-color: $white;
        box-shadow: 0px 3px 27px 0px rgba($black, 0.35);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include vert-center;
        top: 43%;
        right: 20px;
        z-index: 10;
        cursor: pointer;
        transform: translateX(0);
        opacity: 0.6;
        transition: opacity 0.3s ease-out;

        &:after {
            @include right-angle('black');
            width: 30px;
            height: 45px;
            @include abs-center;
            left: 42%;
            top: 48%;
        }

        @include breakpoint(1385px) {
            right: 20px;
        }

        &:hover {
            opacity: 1;
        }

        &.slick-disabled {
            display: none !important;
        }
    }

    .slick-prev-arrow {
        left: 20px;
        transform: rotate(-180deg);

        &:after {
            @include abs-center;
            left: 43%;
            top: 45%;
        }
    }

    .slick-dots {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 80%;
        margin: 8px auto 16px;
        display: flex !important;
        flex-direction: row;
        justify-content: center;

        li {
            margin: 0 4px;
            button {
                border: 0;
                padding: 0;
                text-indent: -9999px;
                background-color: $slate;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                outline: none;
                box-shadow: $map-shadow;
            }

            &.slick-active button {
                background-color: $peach;
            }
        }
    }

    .articles.narrow {
        width: 100%;
        .slick-prev-arrow {
            left: -30px;
        }

        .slick-next-arrow {
            right: -31px;
        }
    }

    .article {
        height: 370px;
        position: relative;
        margin: 0;
        padding: 0;
        display: block;
        // margin-bottom: -7px;

        @include breakpoint(medium) {
            height: 410px;
        }

        @include breakpoint(large) {
            height: 480px;
        }
    }
}
