.accordion-group {
  padding: 30px 0;

    .accordion-group-header {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .question-wrapper {
        .question {
            background: $peach;
            color: #fff;
            padding: 10px 20px;
            font-weight: bold;
            margin-bottom: 10px;
            margin-top: 0;
            font-size: 18px;

          &.close {
            .icon {
              transform: rotate(180deg);
            }
          }

          .icon {
            fill: #fff;
            width: 30px;
            height: 20px;
            float: right;
            position: relative;
            top: 2px;
          }
        }

        .answer {
            display: none;
            padding: 10px 10px 0 10px;

          &.open {
            margin-bottom: 20px;
          }
        }
    }
}
