/* Skip to main content link */
a.skip-main {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    color: $black;
    text-align: center;

    &:focus {
        position: relative;
        display: block;
        width: auto;
        height: auto;
        clip: auto;
        outline: intial;
        border: 0;
        padding: 5px 0;
    }
}
