// Base styles for "blur up" functionality
// Deps: includes/blur-up.php;

.no-js .blur-up {
    &-thumb {
        display: none;
    }
}

.blur-up {
    position: relative;
    overflow: hidden;
    padding-bottom: 50%;
    width: 100%;
    &-full,
    &-thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &-thumb {
        height: 105%;
        top: -10px;
    }

    &-thumb {
        opacity: 1;
        transition: opacity 0.2s 0.1s ease;
        filter: blur(5px);
    }

    &.active {
        .blur-up-thumb {
            opacity: 0;
        }
    }
}
