// Site elements
* {
    box-sizing: border-box;
    outline: none;
}

section {
    width: 100%;

    @include fluid-section(
        padding-top,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($section-padding, medium),
        map-get($section-padding, xlarge)
    );

    @include fluid-section(
        padding-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($section-padding, medium),
        map-get($section-padding, xlarge)
    );

    &.collapse-top {
        padding-top: 0;
    }

    &.collapse-bottom {
        padding-bottom: 0;
    }

    &:nth-of-type(even) {
        background-color: $light-grey;
    }
}

.bg--grey {
    background-color: $light-grey !important;
}

.bg--white {
    background-color: $white !important;
}

// Bottom margin
.bm {
    @include fluid-space(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($bottom-margin, medium),
        map-get($bottom-margin, xlarge)
    );
}

.flex {
    display: flex;
}

.grey-bg {
    background-color: $light-grey !important;
}

.white-bg {
    background-color: $white !important;
}

img {
    width: auto;
    max-width: 100%;
}

ul {
    &.list-reset {
        list-style: none;
        padding: 0;
    }

    &.list-inline li {
        display: inline-block;
    }
}
