body {
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($p, font-small),
        map-get($p, font-large)
    );
    color: $font-color;
    line-height: map-get($p, line-height);
    font-family: $body-font;
}

h1 {
    font-family: $primary-heading-font;
    color: $primary-heading-color;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: $primary-heading-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    line-height: map-get($h1, line-height);
    color: map-get($h1, color);
    text-transform: map-get($h1, case);
    letter-spacing: map-get($h1, letter-spacing);
    font-weight: map-get($h1, weight);
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xxlarge),
        map-get($h1, font-small),
        map-get($h1, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($h1, margin-small),
        map-get($h1, margin-large)
    );
}

h2 {
    line-height: map-get($h2, line-height);
    color: map-get($h2, color);
    text-transform: map-get($h2, case);
    letter-spacing: map-get($h2, letter-spacing);
    font-weight: map-get($h2, weight);
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xxlarge),
        map-get($h2, font-small),
        map-get($h2, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($h2, margin-small),
        map-get($h2, margin-large)
    );

    &:first-child {
        margin-top: 0;
    }
}

.underline {
    display: inline-block;
    h2:after,
    h1:after {
        content: '';
        display: block;
        background-color: $peach;
        width: 60px;
        height: 2px;
        margin: 6px auto 0;

        @include breakpoint(medium) {
            width: 70px;
            height: 2px;
        }
    }
}

.underline-heading {
    &[style*='text-align: center'],
    &[style*='text-align:center'] {
        &:after {
            margin: 6px auto 0;
        }
    }

    &:after {
        content: '';
        display: block;
        background-color: $peach;
        width: 60px;
        height: 2px;

        @include breakpoint(medium) {
            width: 70px;
            height: 2px;
        }
    }
}

h3 {
    line-height: map-get($h3, line-height);
    color: map-get($h3, color);
    text-transform: map-get($h3, case);
    letter-spacing: map-get($h3, letter-spacing);
    font-weight: map-get($h3, weight);
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xxlarge),
        map-get($h3, font-small),
        map-get($h3, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($h3, margin-small),
        map-get($h3, margin-large)
    );
}

h4 {
    line-height: map-get($h4, line-height);
    color: map-get($h4, color);
    text-transform: map-get($h4, case);
    letter-spacing: map-get($h4, letter-spacing);
    font-weight: map-get($h4, weight);
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xxlarge),
        map-get($h4, font-small),
        map-get($h4, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($h4, margin-small),
        map-get($h4, margin-large)
    );
}

h5 {
    line-height: map-get($h5, line-height);
    color: map-get($h5, color);
    text-transform: map-get($h5, case);
    letter-spacing: map-get($h5, letter-spacing);
    font-weight: map-get($h5, weight);
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xxlarge),
        map-get($h5, font-small),
        map-get($h5, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($h5, margin-small),
        map-get($h5, margin-large)
    );
}

h6 {
    line-height: map-get($h6, line-height);
    color: map-get($h6, color);
    text-transform: map-get($h6, case);
    letter-spacing: map-get($h6, letter-spacing);
    font-weight: map-get($h6, weight);
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xxlarge),
        map-get($h6, font-small),
        map-get($h6, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($h6, margin-small),
        map-get($h6, margin-large)
    );
}

p {
    @include fluid-type(
        font-size,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($p, font-small),
        map-get($p, font-large)
    );
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($p, margin-small),
        map-get($p, margin-large)
    );
    margin-top: 0;

    &:last-child {
        margin: 0;
    }
}

p.feature-text {
    @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 21px, 27px);
    line-height: 1.45;
    font-weight: 300;
    @include fluid-type(
        margin-bottom,
        map-get($breakpoints, medium),
        map-get($breakpoints, xlarge),
        map-get($p, margin-small),
        20px
    );
}

a:not(.btn) {
    color: $link-color;
    text-decoration: none;
    border-bottom: $link-border;
    font-weight: $link-weight;

    &:hover {
        color: $link-color-hover;
        border-bottom: $link-border-hover;
        font-weight: $link-weight-hover;
    }
}

a.link-alt:not(.btn) {
    color: $link-color-alt;
    text-decoration: none;
    border-bottom: $link-border-alt;
    font-weight: $link-weight-alt;

    &:hover {
        color: $link-color-hover-alt;
        border-bottom: $link-border-hover-alt;
        font-weight: $link-weight-hover-alt;
    }
}

.text {
    &-italic {
        font-style: italic;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-center {
        text-align: center;
    }

    @include breakpoint(small) {
        &-left-small {
            text-align: left;
        }

        &-center-small {
            text-align: center;
        }

        &-right-small {
            text-align: right;
        }
    }

    @include breakpoint(medium) {
        &-left-medium {
            text-align: left;
        }

        &-center-medium {
            text-align: center;
        }

        &-right-medium {
            text-align: right;
        }
    }

    @include breakpoint(large) {
        &-left-large {
            text-align: left;
        }

        &-center-large {
            text-align: center;
        }

        &-right-large {
            text-align: right;
        }
    }

    @include breakpoint(xlarge) {
        &-left-xlarge {
            text-align: left;
        }

        &-center-xlarge {
            text-align: center;
        }

        &-right-xlarge {
            text-align: right;
        }
    }
}

hr {
    border: 0;
    border-top: solid 1px lighten($slate, 40%);
    margin: 30px 0;
}

blockquote {
    text-align: left;
    position: relative;
    padding: 5px 23px 23px;
    max-width: 500px;
    margin: 0;
    width: 90%;
    display: block;

    @include breakpoint(medium) {
        padding: 10px 30px 30px;
    }

    p {
        @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 20px, 32px);
        font-family: $body-font;
        color: $slate;
        font-style: oblique;
        font-weight: 300;
        line-height: 1.45;
    }

    &:before {
        content: '“';
        @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 50px, 70px);
        position: absolute;
        left: 0;
        top: -15px;
        color: $peach;

        @include breakpoint(medium) {
            top: -20px;
        }
    }
}
