.video-bg {
    height: 100vh;
}

video {
    @include abs-center;
    min-height: calc(100vh - 55px);
    height: auto;
    min-width: 100%;
    object-fit: cover;
}

.video-fallback {
    height: 100%;
    background-size: cover;
    background-position: center;
}

.video-element {
    @include abs-center;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
