.listing__carousel {

  .slick-arrow {
    position: absolute;
    background: rgba(0,0,0,0.6);
    color: #fff;
    border-radius: 90px;
    padding: 11px 18px;
    top: 40%;
    font-size: 26px;
    font-weight: bold;
    z-index: 10;
    cursor: pointer;
  }

  .slick-next {
    right: -12px;
  }

  .slick-prev {
    left: -12px;
  }
}