.crowdriff-container {
    padding: 10px 0 30px;
}

.social {
    p:last-child {
        margin-bottom: 30px;
    }

    .cr__grid {
        z-index: 0;
    }

    &.dark {
        background-color: $slate !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $white !important;
        }
    }

    &.white {
        background-color: $white !important;
    }
}
