.food-section {
    p:last-child {
        margin-bottom: 30px;
    }

    a.food-section__banner {
        position: relative;
        padding-bottom: 85%;
        width: 100%;
        border-bottom: 0;
        max-width: 2500px;
        width: 100%;
        display: block;
        margin: 0 auto;

        @include breakpoint(medium) {
            padding-bottom: 45%;
        }

        img {
            object-fit: cover;
            object-position: center;
            @include abs-center;
            width: 100%;
            height: 100%;
        }
    }
}
