$bg-opacity: 1;
$border-width: 3px;

.all-sections {
    &.theme-coral {
        .underline {
            h2:after,
            h1:after {
                background-color: $peach;
            }
        }

        .underline-heading {
            &:after {
                background-color: $peach;
            }
        }

        .btn-primary {
            background-color: rgba($white, $bg-opacity);
            border: solid $border-width $peach;

            &:hover {
                background-color: $peach;
                margin: 0;
            }
        }

        .hero-experience__secondary {
            border-top: solid 4px $peach;

            @include breakpoint(large) {
                border-top: solid 6px $peach;
            }

            ul li:before {
                color: $peach;
            }
        }

        .waypoint__text {
            h2,
            h3,
            h4 {
                &:after {
                    background-color: $peach;
                }
            }
        }

        blockquote {
            &:before {
                color: $peach;
            }
        }
    }

    &.theme-green {
        .underline {
            h2:after,
            h1:after {
                background-color: $green;
            }
        }

        .underline-heading {
            &:after {
                background-color: $green;
            }
        }

        .btn-primary {
            background-color: rgba($white, $bg-opacity);
            border: solid $border-width $green;

            &:hover {
                background-color: $green;
            }
        }

        .hero-experience__secondary {
            border-top: solid 4px $green;

            @include breakpoint(large) {
                border-top: solid 6px $green;
            }

            ul li:before {
                color: $green;
            }
        }

        .waypoint__text {
            h2,
            h3,
            h4 {
                &:after {
                    background-color: $green;
                }
            }
        }

        blockquote {
            &:before {
                color: $green;
            }
        }
    }

    &.theme-yellow {
        .underline {
            h2:after,
            h1:after {
                background-color: $yellow;
            }
        }

        .underline-heading {
            &:after {
                background-color: $yellow;
            }
        }

        .btn-primary {
            background-color: rgba($white, $bg-opacity);
            border: solid $border-width $yellow;

            &:hover {
                background-color: $yellow;
            }
        }

        .hero-experience__secondary {
            border-top: solid 4px $yellow;

            @include breakpoint(large) {
                border-top: solid 6px $yellow;
            }

            ul li:before {
                color: $yellow;
            }
        }

        .waypoint__text {
            h2,
            h3,
            h4 {
                &:after {
                    background-color: $yellow;
                }
            }
        }

        blockquote {
            &:before {
                color: $yellow;
            }
        }
    }

    &.theme-orange {
        .underline {
            h2:after,
            h1:after {
                background-color: $orange;
            }
        }

        .underline-heading {
            &:after {
                background-color: $orange;
            }
        }

        .btn-primary {
            background-color: rgba($white, $bg-opacity);
            border: solid $border-width $orange;

            &:hover {
                background-color: $orange;
            }
        }

        .hero-experience__secondary {
            border-top: solid 4px $orange;

            @include breakpoint(large) {
                border-top: solid 6px $orange;
            }

            ul li:before {
                color: $orange;
            }
        }

        .waypoint__text {
            h2,
            h3,
            h4 {
                &:after {
                    background-color: $orange;
                }
            }
        }

        blockquote {
            &:before {
                color: $orange;
            }
        }
    }

    &.theme-blue {
        .underline {
            h2:after,
            h1:after {
                background-color: $blue;
            }
        }

        .underline-heading {
            &:after {
                background-color: $blue;
            }
        }

        .btn-primary {
            background-color: rgba($white, $bg-opacity);
            border: solid $border-width $blue;

            &:hover {
                background-color: $blue;
            }
        }

        .hero-experience__secondary {
            border-top: solid 4px $blue;

            @include breakpoint(large) {
                border-top: solid 6px $blue;
            }

            ul li:before {
                color: $blue;
            }
        }

        .waypoint__text {
            h2,
            h3,
            h4 {
                &:after {
                    background-color: $blue;
                }
            }
        }

        blockquote {
            &:before {
                color: $blue;
            }
        }
    }
}
