$row-height-mobile: auto;
$row-height-desktop: 575px;

.alternating-rows {
    background-color: $white !important;
    position: relative;

    &__row {
        display: flex;
        height: $row-height-mobile;
        width: 100%;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: lighten($light-grey, 2%);

        @include breakpoint(medium) {
            flex-direction: row;
        }

        @include breakpoint(large) {
            min-height: $row-height-desktop;
        }

        &--image {
            position: relative;
            height: $row-height-mobile;
            width: 100%;
            height: 180px;
            overflow: hidden;

            @include breakpoint(medium) {
                height: 100%;
            }

            @include breakpoint(large) {
                width: calc(100% / 3 * 2);
            }

            img {
                @include abs-center;
                width: 100%;
                height: 101%;
                object-fit: cover;
                object-position: top;
            }
        }

        &--text {
            position: relative;
            height: auto;
            width: 100%;
            max-width: 480px;
            padding: 20px;

            @include breakpoint(large) {
                margin-left: 40px;
                width: calc(100% / 3 * 1);
                padding: 40px 20px;
            }

            h3 {
                text-transform: uppercase;
                width: 100%;
                margin-top: 0;
                @include fluid-type(
                    font-size,
                    map-get($breakpoints, medium),
                    map-get($breakpoints, xxlarge),
                    28px,
                    42px
                );

                @include breakpoint(medium) {
                    width: 90%;
                }

                &:after {
                    content: '';
                    display: block;
                    background-color: $black;
                    width: 60px;
                    height: 1px;
                    margin: 8px 0 20px 3px;

                    @include breakpoint(medium) {
                        width: 70px;
                        height: 2px;
                    }
                }
            }

            a.read-more {
                margin-top: 5px;
                color: $slate;
                text-transform: uppercase;
                border-bottom: solid 1px transparent;

                &:hover {
                    border-bottom: solid 1px $slate;
                }

                &:after {
                    @include right-angle('black');
                    top: -2px;
                    position: relative;
                }

                @include breakpoint(medium) {
                    margin-top: 10px;
                }
            }
        }

        &:nth-of-type(even) {
            min-height: 350px;

            @include breakpoint(large) {
                min-height: $row-height-desktop;
            }

            .alternating-rows__row--image {
                width: 100%;
                height: 180px;

                @include breakpoint(medium) {
                    height: 100%;
                }
            }

            .alternating-rows__row--text {
                // @include abs-center;
                margin-left: 0;
                height: auto;
                width: 100%;
                color: $slate;
                background-color: rgba($white, 0.83);
                padding: 20px;
                max-width: 620px;
                text-align: left;

                @include breakpoint(large) {
                    @include abs-center;
                    padding: 40px 45px 45px;
                    left: 50%;
                    top: 50%;
                }

                a {
                    text-shadow: none;
                }

                h3 {
                    margin-top: 0;
                    color: $slate;
                    text-transform: uppercase;
                    width: 100%;
                    text-align: center;

                    &:after {
                        background-color: $slate;

                        @include breakpoint(large) {
                            margin: 10px auto;
                        }
                    }
                }
            }
        }

        &:nth-of-type(3n) {
            flex-direction: column;

            @include breakpoint(medium) {
                flex-direction: row-reverse;
            }

            @include breakpoint(large) {
                min-height: $row-height-desktop;
            }

            .alternating-rows__row--text {
                @include breakpoint(medium) {
                    margin-right: 30px;
                }
            }
        }
    }
}
