.pagination {
    margin-top: 10px;

    @include breakpoint(medium) {
        margin-top: 40px;
    }

    .prev {
        &:before {
            @include right-angle('black');
            transform: rotate(180deg);
            width: 17px;
            height: 25px;
        }
    }

    .next {
        &:after {
            @include right-angle('black');
            width: 17px;
            height: 25px;
            position: relative;
            top: -2px;
        }
    }

    .current {
        border-bottom: solid 3px $peach;
    }

    a,
    span {
        margin: 0 5px;
        border-bottom: 0;
        font-weight: 700;
        color: $slate;

        &:hover {
            font-weight: 700;
            border-bottom: 0;
        }
    }
}
