.events-section {
    p:last-child {
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .events-article {
        position: relative;
        border: solid 1px transparent;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            border: solid 8px transparent;
        }

        @include breakpoint(large) {
            border: solid 14px transparent;
            border-bottom: 0;
        }
    }
}
