.header {
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(large) {
        padding: 24px;
    }

    &__nav-btn {
        padding: 5px;
        margin: 0;
        position: relative;
        top: 2px;

        @media only screen and (min-width: 1001px) {
            display: none;
        }

        .hamburger-ico {
            width: 33px;
            height: 19px;
            fill: $white;
        }
    }

    &__home-link {
        border-bottom: 0 !important;
        display: block;

        img {
            width: 90px;

            @include breakpoint(medium) {
                width: 120px;
            }

            @include breakpoint(large) {
                width: 160px;
            }
        }
    }

    &__right {
        display: flex;
        padding-right: 15px;

        button,
        a.header__fav-btn {
            padding: 1px;
            // outline: none;
            cursor: pointer;
            border: 0 !important;

            @include breakpoint(medium) {
                margin: 0 0 0 22px;
            }
        }
    }

    &__search-btn {
        width: 26px;
        height: 26px;

        @include breakpoint(medium) {
            width: 30px;
            height: 30px;
        }

        svg.search-ico {
            width: 25px;
            height: 25px;
            fill: $white;

            @include breakpoint(medium) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__fav-btn {
        position: relative;
        width: 25px;
        height: 25px;
        margin: 0 0 0 16px;

        @include breakpoint(medium) {
            width: 30px;
            height: 30px;
        }

        svg.fav-ico {
            width: 25px;
            height: 25px;
            fill: transparent;
            stroke: $white;

            @include breakpoint(medium) {
                width: 30px;
                height: 30px;
            }
        }

        &.active svg.fav-ico {
            fill: $white;
        }

        .fav-count {
            position: absolute;
            top: -3px;
            right: -10px;
            display: inline-block;
            background-color: $red;
            font-weight: 800;
            color: $white;
            font-size: 11px;
            vertical-align: middle;
            text-align: center;
            width: 16px;
            height: 16px;
            border-radius: 50%;

            @include breakpoint(medium) {
                font-size: 12px;
                width: 18px;
                height: 18px;
            }

            span {
                width: 100%;
                display: inline-block;
                margin: 0px auto;
            }
        }
    }
}
