.standard-list {
    background-color: $white !important;

    ul {
        margin-bottom: 0;
        margin-top: 0;
    }

    &__listing {
        display: flex;
        margin-bottom: 15px;

        @include breakpoint(medium) {
            margin-bottom: 20px;
        }
    }

    &__image {
        width: calc(30% - 10px);
        height: 80px;
        margin-right: 10px;

        @include breakpoint(medium) {
            width: calc(25% - 20px);
            height: 180px;
        }

        @include breakpoint(large) {
            margin-right: 20px;
        }

        img {
            width: 100%;
            height: 80px;
            object-fit: cover;
            object-position: center;

            @include breakpoint(medium) {
                width: 100%;
                height: 180px;
            }
        }
    }

    &__body {
        width: 75%;
        border-bottom: solid 1px lighten($slate, 65%);

        &--dates-custom {
            display: inline-block;
            background-color: $mid-grey;
            color: $white;
            padding: 1px 8px;
            border-radius: 8px;
            margin-right: 8px;

            p {
                font-weight: 600;
            }
        }

        h4 {
            margin-top: 0;
            margin-bottom: 2px;
            line-height: 1;

            @include breakpoint(medium) {
                margin-bottom: 10px;
            }

            a {
                color: $slate;
                border-bottom: 0;
                font-weight: 500;
                @include fluid-type(
                    font-size,
                    map-get($breakpoints, medium),
                    map-get($breakpoints, xxlarge),
                    16px,
                    24px
                );

                &:hover {
                    font-weight: 500;
                }
            }
        }

        p {
            display: none;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 14px, 15px);

            @include breakpoint(medium) {
                display: block;
            }
        }

        .dates {
            font-weight: 600;
            font-size: 12px;
            color: lighten($slate, 10%);
            margin-bottom: 1px;

            @include breakpoint(medium) {
                font-size: 15px;
            }
        }

        .post-type,
        .sub-cat,
        .category {
            background-color: lighten($slate, 65%);
            font-size: 10px;
            padding: 2px 6px;
            border-radius: 5px;
            white-space: nowrap;

            @include breakpoint(large) {
                font-size: 13px;
                padding: 3px 7px;
            }
        }
    }

    &.no-results {
        height: 40vh;

        a.btn {
            margin-top: 30px;
        }
    }
}
