.footer {
    background-color: $slate;
    width: 100%;
    padding: 30px 0 0;

    h3 {
        color: $light-grey;
        margin: 0;
        font-weight: 700;
        @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 15px, 20px);
    }

    &__top {
        border-bottom: $grey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 10px 20px;
        border-bottom: solid 1px $grey;

        @include breakpoint(medium) {
            padding: 0 10px 20px;
        }

        &--left {
            .btn-scroll-top {
                cursor: pointer;

                svg {
                    fill: $light-grey;
                    width: 40px;
                    height: 30px;
                    transform: rotate(180deg);
                }
            }
        }

        &--right {
            .social-list {
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;

                li:first-child {
                    padding: 0 8px 0 0;
                }

                li {
                    padding: 0 8px;
                    a {
                        border: 0;
                        display: block;
                        background-color: $black;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        border-radius: 50%;

                        svg {
                            width: 20px;
                            height: 20px;
                            fill: $white;
                            display: block;
                            margin: auto;
                        }
                    }
                }
            }
        }
    }

    &__mid {
        width: 100%;
        padding: 20px 10px;

        @include breakpoint(large) {
            display: flex;
        }

        .sub-form {
            width: 100%;

            @include breakpoint(large) {
                padding-right: 50px;
                max-width: 260px;
            }

            h3 {
                margin-bottom: 15px;
            }

            .nf-form-cont {
                form {
                    input[type='text'],
                    input[type='email'] {
                        border: 0;
                        padding: 5px 8px;
                        background-color: $grey;
                    }

                    label {
                        color: $light-grey;
                        font-weight: 500;
                        font-size: 14px;
                    }

                    .email-wrap label {
                        @include element-invisible;
                    }

                    input[type='button'] {
                        border: solid 3px $mid-grey;
                        background-color: $light-grey;
                        color: $slate;
                        padding: 8px 12px;
                        margin-top: 0;

                        &:hover {
                            background-color: $grey;
                            color: $white;
                        }
                    }

                    .nf-field-container {
                        width: 100%;

                        @include breakpoint(medium) {
                            max-width: 300px;
                        }
                    }
                }

                ::placeholder {
                    color: $yellow;
                    font-weight: 500;
                }
            }
        }

        .menu-footer-menu-container {
            @include breakpoint(large) {
                width: calc(100% - 320px);
            }
        }

        .menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            & > li {
                width: 50%;

                @include breakpoint(medium) {
                    width: auto;
                    flex: 1;
                }

                & > a {
                    color: $light-grey;
                    font-weight: 700;
                    border-bottom: 0;
                    margin-bottom: 3px;
                    margin-top: 10px;
                    display: inline-block;
                    border-bottom: solid 1px transparent;
                    @include fluid-type(
                        font-size,
                        map-get($breakpoints, medium),
                        map-get($breakpoints, xxlarge),
                        15px,
                        20px
                    );

                    @include breakpoint(medium) {
                        margin-bottom: 8px;
                        margin-top: 0;
                    }

                    &:hover,
                    &:focus {
                        border-bottom: solid 1px $light-grey;
                    }
                }
            }

            .sub-menu {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    a {
                        border-bottom: solid 1px transparent;
                        font-weight: 500;
                        font-size: 15px;

                        &:hover,
                        &:focus {
                            border-bottom: solid 1px $drk-peach;
                        }
                    }
                }
            }
        }
    }

    .acknowledgement-statement {
        border-top: solid 1px $grey;
        padding: 20px 10px;

        p {
            color: $light-grey;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 12px, 14px);
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        @include breakpoint(medium) {
            flex-direction: row;
        }

        &--container {
            max-width: $site-width / 2;
            width: 100%;
            padding: 20px 10px;

            @include breakpoint(medium) {
                padding: 0 10px 30px;
            }
        }

        &--left {
            background-color: $grey;
            width: 100%;
            display: flex;

            @include breakpoint(medium) {
                width: 50%;
            }

            .footer__bottom--container {
                margin-left: auto;
                text-align: left;
                display: flex;
                align-items: center;
            }

            .legal-links {
                display: flex;
                list-style: none;
                padding: 0;
                margin: 0;

                li,
                a {
                    color: $light-grey;
                    border-bottom: 0;
                    @include fluid-type(
                        font-size,
                        map-get($breakpoints, medium),
                        map-get($breakpoints, xxlarge),
                        12px,
                        14px
                    );
                    margin-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    text-transform: uppercase;
                    font-weight: 700;
                    border-bottom: solid 1px transparent;

                    &:hover {
                        border-bottom: solid 1px $light-grey;
                    }

                    &:after {
                        content: '';
                        @include right-angle('white');
                        width: 10px;
                        height: 14px;
                        position: relative;
                        top: -2px;
                    }
                }
            }
        }

        &--right {
            width: 100%;
            display: flex;
            position: relative;
            overflow: hidden;

            @include breakpoint(medium) {
                width: 50%;
                &:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 150px 80px 0 0;
                    border-color: $grey transparent transparent transparent;
                }
            }

            .footer__bottom--container {
                margin-right: auto;
                text-align: center;

                @include breakpoint(medium) {
                    text-align: right;
                }

                .council-logo {
                    width: 100%;
                    max-width: 120px;
                    display: inline-block;
                    border: 0;
                    margin-right: 30px;

                    @include breakpoint(medium) {
                        width: 160px;
                    }

                    &:hover {
                        border: 0;
                    }
                }

                .kiama-logo {
                    width: 100%;
                    max-width: 120px;
                    display: inline-block;

                    @include breakpoint(medium) {
                        width: 150px;
                    }
                }
            }
        }
    }
}
