// Styling for a standard Ninja Form

.nf-form-cont {
    .nf-form-fields-required {
        @include element-invisible;
    }

    .nf-response-msg {
        background-color: rgba($success, 0.3);
        padding: 20px;
        margin-bottom: 20px;
        text-align: center;
        border-radius: 3px;

        p {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
        }
    }

    form {
        input[type='text'],
        input[type='tel'],
        input[type='email'],
        input[type='number'],
        .selection-text,
        textarea {
            padding: 10px;
            @include no-webkit;
            border-radius: 3px;
            border: solid 1px $mid-grey;
            background-color: $white;
        }

        input[type='button'] {
            display: inline-block;
            margin-top: 20px;
            // border: $btn-border;
            font-weight: $btn-font-weight;
            border-radius: $btn-radius;
            cursor: pointer;
            text-transform: $text-transform;
            letter-spacing: $letter-spacing;
            transition: $btn-transition;
            text-decoration: none;
            text-align: center;
            background-color: $white;
            border: solid 3px $peach;
            color: $slate;
            font-weight: $btn-font-weight-primary;
            padding: $btn-small-padding;

            @include breakpoint(medium) {
                padding: $btn-medium-padding;
            }

            &:hover {
                background-color: $btn-bg-colour-primary-hover;
                color: $btn-font-colour-primary-hover;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: 0;
        }

        .nf-error-msg {
            font-size: 13px;
        }

        label {
            font-weight: 600;
        }

        select {
            opacity: 0;
            height: 47px;
            position: relative;
            cursor: pointer;
        }

        .listmultiselect-container select {
            opacity: 1;
        }

        .selection-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            &:after {
                content: '';
                position: absolute;
                right: 15px;
                top: 18px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 10px 12.5px 0 12.5px;
                border-color: $slate transparent transparent transparent;
            }
        }

        .hr-container {
            margin-bottom: 0 !important;
        }

        .nf-field-element {
            p:first-of-type {
                padding-top: 5px;
            }
        }

        .nf-field-container {
            margin-bottom: 13px;

            &.listcheckbox-container {
                @include breakpoint(medium) {
                    width: calc(50% - 20px);
                    display: inline-block;
                    margin-right: 18px;
                }

                @include breakpoint(large) {
                    width: calc(50% - 40px);
                    margin-right: 38px;
                }
            }

            .nf-field-label {
                margin-bottom: 4px;
            }
        }
    }
}
