.in-page-nav {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $white;
    }

    p:last-child {
        margin-bottom: 20px;

        @include breakpoint(large) {
            margin-bottom: 30px;
        }
    }

    &.dark {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            color: $slate;
        }

        .in-page-nav__link span {
            color: $slate !important;
        }

        .in-page-nav__icon-wrapper {
            border: solid 2px $slate !important;

            @include breakpoint(medium) {
                border: solid 2px $slate !important;
            }
        }
    }

    a.btn {
        margin-top: 10px;
    }

    &__links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    &__link {
        text-align: center;
        border-bottom: 0 !important;
        margin-bottom: 10px;

        @include breakpoint(medium) {
            margin-bottom: 20px;
        }

        &:hover .in-page-nav__icon-wrapper {
            background-color: $white;
        }

        span {
            color: $white !important;
            display: inline-block;
            font-weight: 600;
            text-transform: uppercase;
            max-width: 70px;
            margin: 10px auto;
            line-height: 1.2;
            font-size: 13px;

            @include breakpoint(medium) {
                font-size: 15px;
                max-width: 125px;
            }

            span {
                white-space: nowrap;
                margin: 0;

                svg.angle-ico {
                    fill: $white;
                    width: 8px;
                    height: 10px;
                    display: inline;
                }
            }

            &.dark {
                svg.angle-ico {
                    fill: $slate;
                }
            }
        }
    }

    &__icon-wrapper {
        border: solid 2px $white !important;
        padding: 10px;
        border-radius: 10px;
        margin: 0 10px;

        @include breakpoint(medium) {
            margin: 0 20px;
            border: solid 2px $white !important;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        display: block;

        @include breakpoint(medium) {
            width: 80px;
            height: 80px;
        }
    }
}
