.event-tile-link {
    // position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    border-bottom: 0 !important;
    outline: none;
    overflow: hidden;
    // left: 0;
    // display: flex;
    // flex-direction: column;

    &:hover {
        h4 {
            color: $drk-peach;
        }
    }

    &__head {
        display: flex;

        &--icon {
            width: 28px;
            height: 28px;
            fill: $slate;
            margin-left: 10px;
        }

        .date {
            background-color: $slate;
            color: $white;
            padding: 3px 10px;
            display: inline-block;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 13px, 16px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .time {
            display: inline-block;
            color: $slate;
            font-weight: 500;
            font-size: 13px;
            padding: 4px 10px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: auto;

            @include breakpoint(medium) {
                font-size: 13px;
            }

            @include breakpoint(xlarge) {
                font-size: 15px;
            }
        }
    }

    &__image {
        width: 100%;
        height: 200px;
        position: relative;
        flex-grow: 1;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__text {
        padding: 10px;

        @include breakpoint(medium) {
            padding: 10px 0 0;
        }

        .meta {
            color: $slate;
            font-weight: 500;
            display: inline;
        }

        h4 {
            color: $slate;
            margin-top: 0;
            font-weight: 600;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 18px, 22px);
            margin-bottom: 8px;
            display: inline;
        }

        p {
            color: $slate;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 13px, 15px);
            margin-bottom: 0;
            display: none;
            font-weight: 500;

            @include breakpoint(medium) {
                display: inline;
            }
        }

        span.read-more {
            white-space: nowrap;

            &:after {
                @include right-angle('peach');
                width: 8px;
                height: 14px;
                margin-left: 5px;
            }
        }
    }
}
