.newsletter-signup {
    background-color: $blue !important;

    &.blue {
        background-color: $blue !important;
    }

    &.orange {
        background-color: $orange !important;
    }

    &.green {
        background-color: $green !important;
    }

    &.peach {
        background-color: $peach !important;

        form {
            .submit-container input {
                border: solid 3px $slate;
                background-color: $slate;
                color: $white;
            }
        }
    }

    &__text {
        h3 {
            margin-top: 0;
            line-height: 1;
        }

        p {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 15px, 16px);
            font-weight: 600;
            margin-bottom: 14px;

            @include breakpoint(large) {
                padding-right: 30px;
                margin-bottom: 0;
            }
        }
    }

    form {
        .checkbox-container {
            label {
                font-size: 14px;
                font-weight: 500;
                padding: 3px 0;
            }
        }

        .email-container {
            width: 100%;
            display: inline-block;
            vertical-align: top;

            @include breakpoint(medium) {
                margin: 0;
                width: calc(100% - 200px);
            }

            .nf-field-label {
                @include element-invisible;
            }
        }

        .submit-container {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 5px;

            input {
                margin-top: 0;
                padding: 8px 25px;
            }
        }
    }
}
