.breadcrumb--dark {
    .breadcrumb li {
        color: $slate;

        a {
            color: $slate;
            border-bottom: solid 1px transparent;

            &:hover {
                color: $slate;
                border-bottom: solid 1px $slate;
            }
        }
    }
}

.page-template-general {
    .breadcrumb-row {
        margin-bottom: 30px;
    }
}

.breadcrumb-row {
    border-bottom: solid 1px lighten($mid-grey, 10%);
}

.breadcrumb {
    &__list {
        margin: 10px 0;
        li {
            color: $white;
            font-weight: 500;
            text-transform: uppercase;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 11px, 16px);

            a {
                color: $white;
                border-bottom: 0;
                font-weight: 700;
                text-transform: uppercase;
                border-bottom: solid 2px transparent;
                @include fluid-type(
                    font-size,
                    map-get($breakpoints, medium),
                    map-get($breakpoints, xxlarge),
                    12px,
                    16px
                );

                &:hover {
                    color: $white;
                    border-bottom: 0;
                    font-weight: 700;
                    border-bottom: solid 2px $white;
                }
            }

            &:after {
                content: '/';
                display: inline-block;
                margin: 0 3px 0 5px;
            }

            &:last-child:after {
                content: none;
            }
        }
    }
}
