// Button base
$btn-border: 0;
$btn-font-weight: 600;
$btn-bg-colour: $peach;
$btn-radius: 20px;
$btn-transition: background-color 0s ease-in;
$text-transform: uppercase;
$letter-spacing: 0.7px;

// Button sizes
$btn-small-padding: 8px 15px;
$btn-medium-padding: 10px 25px;
$btn-large-padding: 18px 30px;

// Button margin
$btn-margin: 30px;

// Button themes
//------------PRIMARY---------------
$btn-font-colour-primary: $slate;
$btn-bg-colour-primary: $peach;
$btn-font-colour-primary-hover: $white;
$btn-bg-colour-primary-hover: $peach;
$btn-font-weight-primary: 700;

//------------SECONDARY---------------
$btn-font-colour-secondary: $slate;
$btn-bg-colour-secondary: $white;
$btn-font-colour-secondary-hover: $white;
$btn-bg-colour-secondary-hover: $slate;
$btn-font-weight-secondary: 700;

//------------TERTIARY-----------------
$btn-font-colour-tertiary: $white;
$btn-bg-colour-tertiary: $grey;
$btn-font-colour-tertiary-hover: $white;
$btn-bg-colour-tertiary-hover: $slate;
$btn-font-weight-tertiary: 700;

//------------GHOST-----------------
$btn-font-colour-ghost: $slate;
$btn-bg-colour-ghost: transparent;
$btn-font-colour-ghost-hover: $white;
$btn-bg-colour-ghost-hover: $slate;
$btn-border-ghost: solid 3px $slate;
$btn-font-weight-ghost: 500;

//------------GHOST SECONDARY----------------
$btn-font-colour-ghost-sec: purple;
$btn-bg-colour-ghost-sec: transparent;
$btn-font-colour-ghost-sec-hover: purple;
$btn-bg-colour-ghost-sec-hover: purple;
$btn-border-ghost-sec: solid 3px orange;
$btn-font-weight-ghost-sec: normal;
