$black: #000000;
$white: #ffffff;
$grey: #4d4d4f;
$slate: #363636;

$green: #b5d676;
$peach: #f58b6d;
$yellow: #f2eda0;
$orange: #f29228;
$blue: #8bd3d8;

$drk-green: darken(#b5d676, 10%);
$drk-peach: darken(#f58b6d, 10%);
$drk-yellow: darken(#f2eda0, 10%);
$drk-orange: darken(#f29228, 10%);
$drk-blue: darken(#8bd3d8, 10%);

$red: #fa3e3e;
$light-grey: lighten($slate, 75%);
$mid-grey: lighten($slate, 35%);

$success: #28a745;
$error: #dc3545;
