$site-width: 1200px;

// Sections
$section-padding: (
    medium: 30px,
    xlarge: 55px,
);

// Bottom margin
$bottom-margin: (
    medium: 18px,
    xlarge: 35px,
);

// Row margin
$row-margin-small: 10px;
$row-margin-medium: 8px;
$row-margin-large: 8px;
