// Base font
$font-color: $slate;
$body-font: 'Source Sans Pro', sans-serif;

// Headings
$primary-heading-font: 'Source Sans Pro', sans-serif;
$primary-heading-color: $slate;

$secondary-heading-font: 'Source Sans Pro', sans-serif;
$secondary-heading-color: $slate;

// p styles also applied to body
$p: (
    font-large: 17px,
    font-small: 16px,
    margin-large: 16px,
    margin-small: 14px,
    line-height: 1.6,
    weight: initial,
);

$h1: (
    font-large: 62px,
    font-small: 42px,
    margin-large: 24px,
    margin-small: 18px,
    line-height: 1.3,
    weight: 500,
    color: $slate,
    case: initial,
    letter-spacing: 0px,
);

$h2: (
    font-large: 58px,
    font-small: 38px,
    margin-large: 30px,
    margin-small: 16px,
    line-height: 1.2,
    weight: 300,
    color: $slate,
    case: initial,
    letter-spacing: initial,
);

$h3: (
    font-large: 38px,
    font-small: 26px,
    margin-large: 15px,
    margin-small: 11px,
    line-height: 1.2,
    weight: initial,
    color: $slate,
    case: initial,
    letter-spacing: initial,
);

$h4: (
    font-large: 28px,
    font-small: 20px,
    margin-large: 15px,
    margin-small: 10px,
    line-height: 1.2,
    weight: initial,
    color: $slate,
    case: initial,
    letter-spacing: initial,
);

$h5: (
    font-large: 20px,
    font-small: 18px,
    margin-large: 20px,
    margin-small: 20px,
    line-height: 1.2,
    weight: initial,
    color: $slate,
    case: initial,
    letter-spacing: initial,
);

$h6: (
    font-large: 16px,
    font-small: 15px,
    margin-large: 20px,
    margin-small: 20px,
    line-height: 1.2,
    weight: initial,
    color: $slate,
    case: initial,
    letter-spacing: initial,
);

// Links
$link-color: $peach;
$link-weight: 700;
$link-border: solid 1px $peach;

$link-color-hover: $drk-peach;
$link-weight-hover: 700;
$link-border-hover: solid 1px $drk-peach;

$link-color-alt: red;
$link-weight-alt: normal;
$link-border-alt: solid 2px red;

$link-color-hover-alt: green;
$link-weight-hover-alt: normal;
$link-border-hover-alt: solid 2px green;
