.map-pin {
    position: relative;
    width: 30px;
    height: 30px;
    top: -25px;
    left: -20px;

    &__dot {
        padding: 0;
        border: solid 1px darken($green, 20%);
        background-color: darken($green, 5%);
        width: 20px;
        height: 20px;
        border-radius: 50% 50% 50% 0;
        box-shadow: 0px 2px 11px -6px rgba($black, 1);
        cursor: pointer;
        transform: scale(0.7) rotate(-45deg);
        transition: transform 0.2s ease-out, background-color 0.2s ease-out;

        @include breakpoint(large) {
            width: 26px;
            height: 26px;
        }

        &:hover {
            transform: scale(1) rotate(-45deg);
            box-shadow: 0px 3px 11px -4px rgba($black, 1);
            background-color: darken($green, 10%);
        }

        &.accomm {
            border: solid 1px darken($orange, 10%);
            background-color: $orange;
        }
    }

    &:hover {
        z-index: 2;
    }

    &.active {
        z-index: 1;
    }

    &:hover,
    &.active {
        .map-pin__info {
            visibility: visible;
            opacity: 1;
            transform: translate(-53%, 0px);

            @include breakpoint(large) {
                transform: translate(-50%, 0px);
            }
        }
    }

    &.active .map-pin__dot {
        transform: scale(1.2) rotate(-45deg);
        box-shadow: 0px 3px 11px -4px $black;
        background-color: $peach;
        border: solid 1px darken($peach, 10%);
        transition: visibility 0s 0s, opacity 0.3s 0.1s ease-out, transform 0.3s 0.1s ease-out,
            background-color 0.3s ease-out, border 0.3s ease-out;

        @include breakpoint(large) {
            transform: scale(1) rotate(-45deg);
        }
    }

    &__info {
        background-color: $slate;
        position: absolute;
        flex-wrap: wrap;
        align-items: stretch;
        width: auto;
        z-index: 2;
        left: 50%;
        bottom: 35px;
        transform: translate(-53%, 10px);
        text-align: center;
        padding: 3px 0;
        border-radius: 3px;
        visibility: hidden;
        opacity: 0;
        box-shadow: 0px 7px 10px -5px rgba($black, 0.65);
        transition: visibility 0.3s 0.1s, opacity 0.3s 0.1s ease-out, transform 0.3s 0.1s ease-out;

        @include breakpoint(large) {
            transform: translate(-50%, 10px);
            display: inline-block;
            width: 180px;
            padding: 0;
        }

        .image {
            width: 80px;
            height: 70px;
            vertical-align: middle;
            @include bg-image;
            border-radius: 3px 0 0 3px;
            display: none;

            @include breakpoint(large) {
                display: inline-block;
            }
        }

        p {
            display: inline-block;
            vertical-align: middle;
            width: 100px;
            max-height: 70px;
            overflow: hidden;
            padding: 3px 5px;
            color: $white;
            font-size: 11px;
            line-height: 1.2;
            letter-spacing: 1px;
        }
    }
}
