.map-nav {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    box-shadow: $map-shadow;
    overflow: hidden;
    height: 70px;
    width: 100%;

    @include breakpoint(large) {
        max-width: 850px;
        border-radius: $map-radius;
        top: 20px;
        height: 80px;
    }

    &.has-listings:after {
        content: '';
        position: absolute;
        z-index: 10;
        right: 0;
        top: 0;
        height: 50%;
        width: 30px;
        background: linear-gradient(to right, rgba($white, 0) 0%, rgba($white, 0.93) 69%, rgba($white, 1) 74%);

        @include breakpoint(medium) {
            content: none;
        }
    }

    &.active {
        height: 35px;

        @include breakpoint(large) {
            height: 40px;
        }

        &:after {
            height: 100%;
        }
    }

    &__fav-count {
        position: absolute;
        top: 3px;
        display: inline-block;
        background-color: $red;
        font-weight: 800;
        color: $white;
        font-size: 12px;
        vertical-align: middle;
        text-align: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        box-shadow: $map-shadow;

        span {
            width: 100%;
            display: inline-block;
            margin: 2px auto;
        }
    }

    &__cat {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint(large) {
            overflow-x: initial;
        }

        li {
            flex: 1;
            z-index: 10;
            background-color: $white;

            &:last-child:after {
                content: none;
            }

            &.favourite {
                padding-right: 25px;

                @include breakpoint(medium) {
                    padding-right: 0px;
                }
            }

            &.active {
                &:after {
                    content: none;
                }

                button {
                    background-color: $slate;
                    color: $green;

                    &[data-cat='accomm'] {
                        color: $orange;
                    }
                }

                .map-nav__subcat {
                    display: flex;
                }
            }

            button {
                width: 100%;
                min-width: 100px;
                background-color: $white;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
                border-radius: 0;
                padding: 10px 16px;
                cursor: pointer;
                position: relative;
                white-space: nowrap;

                @include breakpoint(large) {
                    padding: 12px 5px;
                    // white-space: initial;
                }

                &[data-cat='accomm'] {
                    color: $orange;
                }
            }

            &:not(.active) button {
                &:hover {
                    background-color: $light-grey;
                }
            }
        }
    }

    &__subcat {
        width: 100%;
        height: 36px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        @include breakpoint(large) {
            overflow-x: initial;
            height: 40px;
        }

        li.sub-category,
        li {
            padding: 0;
            margin: 0;

            button {
                text-align: center;
                padding: 10px 12px;
                height: 100%;
                font-size: 12px;
                color: $white;
                background-color: $slate;
                font-weight: 400;
                text-transform: none;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
                vertical-align: middle;
                white-space: nowrap;

                @include breakpoint(large) {
                    padding: 12px 5px;
                    // white-space: initial;
                    font-size: 14px;
                }
            }

            &.active button,
            &:hover button {
                color: $green;
                background-color: $slate;
            }

            &.view-all {
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    background-color: $peach;
                    text-transform: uppercase;
                    font-weight: 800;
                    vertical-align: middle;
                    color: $white;
                    text-align: center;
                    padding: 8px 10px;

                    &:hover {
                        background-color: darken($peach, 8%);
                    }

                    &:after {
                        @include right-angle('white');
                        position: relative;
                        top: -3px;
                    }
                }
            }
        }
        &.accomm .view-all a {
            background-color: $orange;

            &:hover {
                background-color: darken($orange, 8%);
            }
        }

        &.accomm li {
            &.active button,
            &:hover button {
                color: $orange;
            }
        }
    }
}
