.archive {
    & > .row {
        position: relative;
    }

    h1 {
        position: relative;
        display: inline-block;
    }

    &__nav {
        width: 100%;
        max-width: 650px;
        padding: 0 20px;
        margin: 0 auto;
    }

    &__icon {
        width: 50px;
        height: 50px;
        fill: $slate;
        position: relative;
        top: 6px;
        display: block;
        margin: 0 auto;
    }

    &__nav--list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0 30px;

        li {
            margin: 0px 4px 10px;
            padding: 2px 13px 0;
            position: relative;

            a {
                color: $grey !important;
                border-bottom: solid 1px transparent;
                font-weight: 500;
                text-transform: uppercase;
                font-size: 14px;
                display: block;
                white-space: nowrap;
                display: inline-block;
                letter-spacing: 0.4px;

                &:after {
                    @include right-angle('black');
                    position: relative;
                    width: 10px;
                    height: 15px;
                    top: -2px;
                    opacity: 0.7;
                }

                &:hover {
                    color: $slate !important;
                    font-weight: 500;
                    border-bottom: solid 1px lighten($grey, 20%);
                }
            }

            &.current a {
                color: $slate !important;
                font-weight: 700;
                border-bottom: solid 1px $grey;

                &:after {
                    content: none;
                }
            }
        }
    }
}
