.blog {
    @include breakpoint(medium) {
        margin-bottom: -100px;
    }

    & > .row {
        position: relative;

        @include breakpoint(medium) {
            top: -170px;
        }

        .breadcrumb {
            margin: 0 10px;
        }
    }

    &__container {
        background-color: $white;
        border-top: solid 4px $peach;

        @include breakpoint(medium) {
            border-top: solid 8px $peach;
        }
    }

    &__top {
        @include fluid-type(margin-bottom, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 20px, 35px);

        h1 {
            text-align: center;
            display: block;
            margin: 0 auto;

            @include breakpoint(medium) {
                max-width: 75%;
            }

            &:after {
                content: '';
                display: block;
                background-color: $peach;
                width: 60px;
                height: 2px;
                margin: 10px auto 20px;

                @include breakpoint(medium) {
                    width: 100px;
                    height: 3px;
                    margin: 20px auto 30px;
                }
            }
        }

        p {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 21px, 26px);
            font-weight: 300;
        }

        p.blog__top--author {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 16px, 20px);
        }

        .social-likes {
            .social-likes__widget {
                text-align: center;
                cursor: pointer;
            }
        }
    }

    &__article {
        padding: 10px 0 0;

        @include breakpoint(medium) {
            padding: 20px 0 0;
        }

        .blog__image,
        .wp-caption {
            margin: 24px 0 24px;

            @include breakpoint(medium) {
                margin: 50px 0 50px;
            }

            &.video {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
            }

            & > iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            @include breakpoint(large) {
                &.odd {
                    position: relative;
                    left: -100px;
                }

                &.even {
                    position: relative;
                    right: -100px;
                }
            }

            .wp-caption-text {
                margin: 10px 0 0;
                text-align: center;
                color: lighten($slate, 15%);
                font-size: 14px;

                &:before {
                    content: '';
                    @include right-angle('black');
                    display: block;
                    transform: rotate(-90deg);
                    margin: 0 auto -5px;
                    opacity: 0.6;
                }
            }
        }
    }

    &__author {
        display: flex;
        margin-top: 60px;
        position: relative;

        &--text {
            max-width: 500px;
            padding-left: 30px;
            font-weight: 300;

            &:before {
                content: '';
                display: block;
                width: 60px;
                height: 2px;
                background-color: $peach;
                position: absolute;

                @include breakpoint(medium) {
                    width: 80px;
                    height: 3px;
                }
            }

            h3 {
                @include fluid-type(
                    font-size,
                    map-get($breakpoints, medium),
                    map-get($breakpoints, xlarge),
                    16px,
                    26px
                );
                font-weight: 600;
            }
        }

        &--pic-wrapper {
            text-align: center;

            p {
                font-weight: 600;
                padding-top: 10px;
                color: lighten($slate, 25%);
            }
        }

        &--pic {
            width: 80px;
            height: 80px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            margin-top: 10px;

            @include breakpoint(medium) {
                width: 130px;
                height: 130px;
            }

            img {
                @include abs-center;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &-related {
        .blog-article {
            position: relative;
            padding-bottom: 50%;
            border: solid 2px transparent;
            border-bottom: solid 1px transparent;

            @include breakpoint(large) {
                padding-bottom: 28%;
                border: solid 8px transparent;
            }
        }
    }
}
