.filter {
    text-align: center;
    position: relative;

    &__region-list,
    &__month-list {
        list-style: none;
        padding: 0;
        margin: 0 0 30px;
        display: flex;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        @include breakpoint(medium) {
            justify-content: center;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &--item {
            margin: 0 3px;

            &:last-child {
                padding-right: 30px;

                @include breakpoint(large) {
                    padding-right: 0;
                }
            }

            @include breakpoint(medium) {
                margin: 0 5px;
            }

            input[type='radio'] {
                display: none;

                &:checked + label {
                    background-color: $green;
                }
            }

            label {
                color: $grey;
                padding: 2px 10px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;
                border-radius: 8px;
                border-bottom: solid 1px transparent;
                cursor: pointer;
                white-space: nowrap;
                transition: background-color 0.15s;

                &:hover {
                    background-color: rgba($green, 0.3);
                }
            }
        }
    }

    &__month-list {
        &--item {
            margin: 0 1px;

            @include breakpoint(medium) {
                margin: 0 3px;
            }

            &.past {
                opacity: 0.4;
            }

            &.year {
                &--current {
                    border-left: solid 2px $grey;
                    padding-left: 5px;
                }
            }

            label {
                color: $grey;
                padding: 2px 10px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

.event-calendar {
    .events-article {
        position: relative;
        // padding-bottom: 68%;
        border: solid 1px transparent;
        margin-bottom: 20px;

        @include breakpoint(medium) {
            // padding-bottom: 48%;
            border: solid 4px transparent;
        }

        @include breakpoint(large) {
            // padding-bottom: 38%;
            border: solid 6px transparent;
            border-bottom: 0;
        }

        @include breakpoint(xlarge) {
            border: solid 14px transparent;
        }
    }

    &.no-results {
        height: 40vh;
    }
}
