.search-header {
    background-color: $light-grey;
    position: relative;
    overflow: hidden;

    &__heading {
        margin-bottom: 20px;
        position: relative;

        @include breakpoint(medium) {
            margin-bottom: 30px;
        }

        h1 {
            line-height: 1;
        }

        p {
            max-width: 500px;
            display: block;
            margin: 0 auto 10px;
        }
    }

    .row {
        position: relative;
    }

    & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 150%;
        height: 150%;
        object-fit: cover;
        object-position: center;
        filter: blur(10px);
        opacity: 0.5;
    }
}
