.listing {
    h1 {
        margin-bottom: 18px;
        @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 32px, 62px);

        @include breakpoint(medium) {
            margin-bottom: 30px;
        }
    }

    .book-now-btn-mobile {
        margin: 0 0 15px;

        @include breakpoint(large) {
            display: none;
        }
    }

    &.event {
        .listing__detail--rates {
            background-color: $slate;
        }
    }

    .expired {
        padding-bottom: 15px;

        @include breakpoint(medium) {
            padding-bottom: 20px;
        }

        p {
            background-color: $yellow;
            padding: 10px 0;
            font-weight: 700;

            a {
                &:after {
                    @include right-angle('peach');
                    width: 7px;
                    height: 12px;
                    position: relative;
                    left: 5px;
                }
            }
        }
    }

    .listing-body {
        flex-direction: column-reverse;

        @include breakpoint(large) {
            flex-direction: row;
        }

        &--left,
        &--right {
            margin-bottom: 30px;

            @include breakpoint(large) {
                margin-bottom: 0;
            }
        }
    }

    &__post-type {
        color: lighten($grey, 15%);
        display: inline-block;
        svg {
            fill: lighten($grey, 15%);
            width: 30px;
            height: 30px;
            position: relative;
            top: 10px;
        }
    }

    &__detail-contact {
        &--list {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-bottom: 18px;
            }

            svg {
                fill: $grey;
                width: 22px;
                height: 22px;
                display: inline-block;
                margin-right: 15px;
                vertical-align: top;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: inline-block;

                li {
                    margin-bottom: 5px;
                }
            }
        }
    }

    &__social {
        &--list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;

            li {
                margin-right: 10px;

                a {
                    background-color: $grey;
                    display: block;
                    border: 0;
                    border-radius: 50%;
                    overflow: hidden;

                    &:hover {
                        background-color: $slate;
                        border: 0;
                    }

                    svg {
                        width: 30px;
                        height: 30px;
                        display: block;
                        margin: 5px;
                        fill: $white;
                    }
                }
            }
        }
    }

    &__map {
        height: 300px;
        width: 100%;
        margin-bottom: 15px;

        @include breakpoint(medium) {
            height: 350px;
        }

        @include breakpoint(large) {
            height: 450px;
        }

        &--tall {
            height: 497px;
        }
    }

    &__detail {
        display: flex;
        margin-bottom: 15px;
        text-align: center;
        position: relative;
        width: 100%;

        &--wide {
            width: 100%;
            flex-direction: column;
        }

        &--dates-custom {
            background-color: $grey;
            color: $white;
            border-bottom: solid 1px $white;
        }

        &--icon {
            fill: $mid-grey;
            width: 31px;
            height: 31px;
            position: absolute;
            top: 1px;
            left: 5px;
        }

        &-btns {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            a.book-now-btn-desk {
                display: none;

                @include breakpoint(large) {
                    display: inline-block;
                }
            }
        }

        p {
            margin: 0;
            padding: 5px 13px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 13px, 15px);
        }

        &--dates,
        &--rates {
            background-color: $grey;
            width: 100%;

            span {
                font-weight: 300;
            }

            p {
                text-transform: unset;
                color: $white;
            }
        }

        &--region {
            color: $white;
            background-color: $mid-grey;
            white-space: nowrap;

            span {
                font-weight: 300;
            }
        }

        &--subcat {
            background-color: $light-grey;
            color: $mid-grey;
            position: relative;
            padding-left: 40px !important;
            max-width: calc(100% - 160px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include breakpoint(large) {
                max-width: calc(100% - 300px);
            }

            a {
                color: $mid-grey;
                border-bottom: solid 1px transparent;
                display: inline-block;
                margin-right: 3px;
            }
        }

        .favourite-btn {
            opacity: 1;
            right: 3px;
            left: auto;
            top: 3px;
            padding: 2px;

            @include breakpoint(medium) {
                top: 0;
                right: 0;
            }

            svg {
                fill: transparent;
                stroke: $slate;
                width: 22px;
                height: 22px;

                @include breakpoint(medium) {
                    width: 30px;
                    height: 30px;
                }
            }

            &:hover {
                svg {
                    fill: $peach;
                    stroke: $peach;
                }
            }

            &.active svg {
                fill: $peach;
                stroke: $peach;
            }
        }
    }

    &__carousel {
        width: 100%;

        &--item {
            position: relative;
            height: 250px;
            width: 100%;

            @include breakpoint(medium) {
                height: 350px;
            }

            @include breakpoint(large) {
                height: 516px;
            }

            img {
                @include abs-center;
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }

        &__thumbs {
            margin: 10px 0 0;

            .slick-slide.slick-current {
                border-bottom: solid 3px $peach;
            }
        }

        &--thumb {
            height: 30px;
            position: relative;
            cursor: pointer;

            @include breakpoint(medium) {
                height: 40px;
            }

            @include breakpoint(large) {
                height: 70px;
            }

            &:hover {
                img {
                    opacity: 0.75;
                }
            }

            img {
                @include abs-center;
                width: calc(100% - 5px);
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        }
    }

    &__content {
        margin-top: 26px;
    }

    &__accessible,
    &__facilities {
        margin-top: 30px;

        &--wrapper {
            display: inline-block;
            width: calc(100% - 60px);

            h4 {
                margin-top: 0;
            }
            vertical-align: top;
        }

        &--list {
            column-count: 2;
            column-gap: 20px;
            margin: 0;
            padding-left: 20px;
        }

        &--icon {
            fill: $grey;
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
    }

    &-related {
        .listing-article {
            position: relative;
            padding-bottom: 50%;
            border: solid 2px transparent;
            border-bottom: solid 1px transparent;

            @include breakpoint(large) {
                padding-bottom: 28%;
                border: solid 8px transparent;
            }

            &.event {
                padding-bottom: 0;
            }
        }
    }
}
