.meta-pill {
    position: absolute;
    padding: 2px 8px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 11px;
    z-index: 1;

    @include breakpoint(medium) {
        font-size: 13px;
    }

    &--white {
        top: 10px;
        right: 10px;
        background-color: rgba($white, 0.85);
        color: $black;

        @include breakpoint(medium) {
            top: 20px;
            right: 20px;
        }
    }

    &--black {
        bottom: 10px;
        left: 10px;
        background-color: rgba($black, 0.85);
        color: $white;
        padding: 5px 15px;
        text-transform: uppercase;

        @include breakpoint(medium) {
            bottom: 20px;
            left: 20px;
        }
    }
}
