.google-map {
    width: 100%;
    height: 400px;

    @include breakpoint(medium) {
        height: 500px;
    }
}

/* fixes potential theme css conflict */
.google-map img {
    max-width: inherit !important;
}
