.itinerary {
    &__details {
        list-style: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 0 10px;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 16px, 28px);
        }
    }

    @include breakpoint(medium) {
        .row.itinerary__waypoint:nth-child(odd) {
            flex-direction: row-reverse;

            @include breakpoint(large) {
                .waypoint__image {
                    width: calc(100% - 30px);
                    float: right;
                }

                .waypoint__text {
                    margin-left: auto;
                    right: 20px;
                }
            }
        }

        .row.itinerary__waypoint:nth-child(even) {
            .waypoint__image {
                float: left;

                @include breakpoint(large) {
                    width: calc(100% - 30px);
                }
            }
        }
    }

    .waypoint__wrapper {
        position: relative;

        .waypoint__line {
            width: 4px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
            display: none;

            @include breakpoint(large) {
                display: block;
            }

            &:before {
                content: '';
                display: block;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                background-color: $mid-grey;
                @include hor-center;
                transform: translateX(-54%);
                top: -6px;
            }

            svg {
                stroke: $mid-grey;
                stroke-width: 3px;
                width: 3px;
                height: 100%;
            }
        }
    }

    .waypoint__image {
        position: relative;
        width: 100%;
        height: 180px;
        overflow: hidden;

        @include breakpoint(medium) {
            height: 380px;
        }

        @include breakpoint(large) {
            height: 450px;
        }

        img {
            @include abs-center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .waypoint__map {
        width: 100%;
        height: 450px;

        @include breakpoint(large) {
            width: calc(100% - 30px);
        }
    }

    &__text-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .waypoint__text {
        position: relative;
        height: auto;
        width: 100%;
        max-width: 480px;
        padding: 20px;

        @include breakpoint(large) {
            margin-left: 40px;
        }

        ul,
        ol {
            margin: 0;
            padding-left: 20px;
            margin-bottom: 16px;
        }

        h3 {
            text-transform: uppercase;
            width: 100%;
            margin-top: 0;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 28px, 38px);

            @include breakpoint(medium) {
                width: 90%;
            }

            &:after {
                content: '';
                display: block;
                background-color: $black;
                width: 60px;
                height: 1px;
                margin: 8px 0 20px 3px;

                @include breakpoint(medium) {
                    width: 70px;
                    height: 2px;
                }
            }
        }

        a.read-more {
            margin-top: 5px;
            color: $slate;
            text-transform: uppercase;
            border-bottom: solid 1px transparent;

            &:hover {
                border-bottom: solid 1px $slate;
            }

            &:after {
                @include right-angle('black');
                top: -2px;
                position: relative;
            }

            @include breakpoint(medium) {
                margin-top: 10px;
            }
        }
    }

    &__end {
        width: 100%;

        &--content {
            background-color: $slate;
            color: $white;
            padding: 30px;
            border-radius: 8px;
            width: 100%;
            max-width: 500px;
            margin: 50px auto 0;
            text-align: center;
            position: relative;

            h3 {
                color: $white;
                margin-top: 0;
                text-transform: uppercase;

                &:after {
                    content: '';
                    display: block;
                    background-color: $white;
                    width: 60px;
                    height: 1px;
                    margin: 8px auto 3px;

                    @include breakpoint(medium) {
                        height: 2px;
                    }
                }
            }
        }

        &.has-image {
            position: relative;
            padding: 150px 10px;
            margin-top: 50px;

            img {
                @include abs-center;
                width: 100%;
                height: 101%;
                object-fit: cover;
                object-position: center;
            }

            .end__line {
                width: 4px;
                position: absolute;
                left: 50%;
                top: 8px;
                transform: translateX(-50%);
                height: calc(50% - 120px);
                display: none;

                @include breakpoint(large) {
                    display: block;
                }

                svg {
                    stroke: $white;
                    stroke-width: 3px;
                    width: 3px;
                    height: 100%;
                }
            }

            .itinerary__end--content {
                background-color: rgba($white, 0.88);
                color: $slate;
                margin: 0 auto;

                h3 {
                    color: $slate;

                    &:after {
                        background-color: $slate;
                    }
                }
            }
        }
    }
}
