.video-section,
.listing__video {
    p {
        @include fluid-type(
            margin-bottom,
            map-get($breakpoints, medium),
            map-get($breakpoints, xlarge),
            map-get($p, margin-small),
            map-get($p, margin-large)
        );
    }

    &__btn {
        position: relative;
        padding-bottom: 66.25%;
        width: 100%;
        cursor: pointer;

        &:after {
            content: '';
            background: linear-gradient(
                to bottom,
                rgba($black, 0) 0%,
                rgba($black, 0.3) 35%,
                rgba($black, 0.8) 80%,
                rgba($black, 0.98) 100%
            );
            @include abs-center;
            width: 100%;
            height: 100%;

            @include breakpoint(medium) {
                background: linear-gradient(
                    to bottom,
                    rgba($slate, 0) 35%,
                    rgba($slate, 0.8) 80%,
                    rgba($black, 0.98) 100%
                );
            }
            transition: background-color 0.3s ease-out;
        }

        &:hover {
            &:after {
                background-color: rgba($black, 0.2);
            }
        }

        &--title {
            position: absolute;
            bottom: 20px;
            left: 20px;
            z-index: 2;
            color: $white;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 20px, 23px);
        }

        &--ico {
            fill: $white;
            @include abs-center;
            z-index: 3;
            width: 30px;
            height: 30px;

            @include breakpoint(medium) {
                width: 40px;
                height: 40px;
            }

            @include breakpoint(large) {
                width: 50px;
                height: 50px;
            }
        }

        img {
            @include abs-center;
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }
    }
}
