.listing-grid {
    .filter {
        margin-bottom: 40px;
    }

    &__article {
        height: 200px;
        position: relative;
        margin: 0;
        padding: 0;
        display: block;
        margin: 0 0 15px;

        @include breakpoint(medium) {
            height: 280px;
        }

        @include breakpoint(large) {
            height: 320px;
            margin: 0 5px 25px;
        }
    }

    .tile-link {
        h4 {
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 15px, 23px);
        }

        .tile-link__text {
            width: 100%;
        }
    }

    &.no-listings {
        p {
            padding: 20px 0;
            text-align: center;
            display: block;
        }

        a.btn {
            margin-bottom: 30px;
        }
    }
}
