$icon-size-desktop: 33px;
$icon-size-mobile: 28px;

.cart-head {
    position: relative;
    width: $icon-size-mobile;
    height: $icon-size-mobile;
    margin-left: 10px;

    @include breakpoint(medium) {
        width: $icon-size-desktop;
        height: $icon-size-desktop;
        margin-left: 20px;
    }

    svg {
        fill: $white;
        width: $icon-size-mobile;
        height: $icon-size-mobile;
        position: absolute;
        top: 0;
        left: 0;

        @include breakpoint(medium) {
            width: $icon-size-desktop;
            height: $icon-size-desktop;
        }
    }

    #cart-widget-head {
        .shopping-cart {
            .noItems {
                display: none;
            }

            .cartItems {
                border: 0;
                padding: 0;
                padding-bottom: 0;

                .totalDisplay {
                    background: none;
                    border: 0;
                    width: auto;

                    a {
                        border: 0;
                        background: none;
                        width: $icon-size-mobile;
                        height: $icon-size-mobile;

                        @include breakpoint(medium) {
                            width: $icon-size-desktop;
                            height: $icon-size-desktop;
                        }

                        span {
                            background-color: $red;
                            font-family: $body-font;
                            color: $white;
                            font-size: 12px;
                            width: 18px;
                            height: 18px;
                            border-radius: 50%;
                            vertical-align: middle;
                            text-align: center;
                            padding-top: 2px;
                            position: absolute;
                            top: -7px;
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
}
