#region-conatiner {
    font-family: $body-font !important;

    .map-container {
        border: 0;

        .product-list {
            .map-sidebar-item {
                border: 0;
                padding: 10px 15px;

                .location {
                    display: inline;
                }

                .name {
                    color: $slate;
                    font-weight: 700;
                    @include fluid-type(
                        font-size,
                        map-get($breakpoints, medium),
                        map-get($breakpoints, xxlarge),
                        15px,
                        18px
                    );
                    font-family: $body-font;
                    display: inline-block;
                    margin-top: 0px;

                    &:hover {
                        color: $peach;
                    }
                }

                .from-price,
                .rating {
                    right: 15px;
                    font-family: $body-font !important;
                    span {
                        color: $orange;
                    }
                }

                &.highlighted {
                    .name span {
                        color: $peach;
                    }
                }

                &.even {
                    background-color: rgba($green, 0.1);

                    &:hover {
                        background-color: rgba($green, 0.3);
                    }
                }

                &.odd {
                    background-color: $white;

                    &:hover {
                        background-color: rgba($green, 0.3);
                    }
                }
            }
        }

        .mapInfoWindow {
            padding: 10px;

            .thumb {
                .inner {
                    border: 0;
                }
            }

            .im-pricebutton {
                a {
                    background: $white;
                    color: $slate;
                    padding: 8px 20px;

                    &:hover {
                        background: $peach;
                        color: $white;

                        &:after {
                            @include right-angle('white');
                        }
                    }

                    &:after {
                        @include right-angle('black');
                        position: relative;
                        top: -3px;
                    }

                    span {
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
