#region {
    position: relative;
    background-color: transparent !important;
}

#region-conatiner,
#detail-gadget {
    a {
        border: 0;
        font-family: $body-font;
    }

    .tabs-group {
        height: auto;
        text-align: left;
        position: relative;

        @include breakpoint(large) {
            text-align: right;
        }

        &:before {
            content: 'Make a booking...';
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 30px, 40px);
            font-family: $body-font;
            color: $slate;
            margin-left: 8px;
            display: block;
            margin-bottom: 20px;

            @include breakpoint(large) {
                position: absolute;
                left: 0;
            }
        }
    }

    .view-choice {
        display: none;
        margin: 0;

        @include breakpoint(large) {
            display: flex;
            display: block;
            margin: 0 20px 0 0;
        }

        .label {
            @include element-invisible;
        }

        a {
            display: inline-block;
            flex: 1;
            background-color: rgba($green, 0.6);
            height: auto;
            border-radius: 20px;
            padding: 10px 18px;
            margin: 0 5px;
            text-align: center;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: $green;
            }

            &.current {
                background-color: $orange;
                pointer-events: none;

                span {
                    font-weight: 700;
                }
            }

            span {
                display: block;
                text-transform: uppercase;
                font-weight: 500;
                color: $slate;
                font-size: 20px;
            }
        }
    }

    .type-group {
        position: relative;

        .noResults {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
            padding: 130px 0;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 15px, 23px);
            line-height: 1.5;
        }

        td.date,
        td.price {
            @include breakpoint(large down) {
                display: none;
            }
        }

        thead {
            td {
                background-color: $slate;
                height: 51px;
                font-family: $body-font !important;

                @include breakpoint(medium) {
                    height: 71px;
                }

                .date {
                    color: $green;
                    line-height: 1;
                    font-size: 20px;
                }
            }
        }

        tr {
            border: 0;

            &.inline-header {
                td {
                    background-color: $slate !important;
                    font-family: $body-font !important;
                }
            }
        }
    }

    tr.even {
        &.hover td {
            background-color: rgba($green, 0.3);
        }

        td {
            background-color: rgba($green, 0.1);
        }
    }

    tr.odd {
        background-color: $white;

        &.hover td {
            background-color: rgba($green, 0.3);
        }

        td {
            background-color: $white;
        }
    }

    .prices-grid {
        border: 0;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            left: 0;
            height: 51px;
            display: block;
            background: $slate;
            z-index: -1;

            @include breakpoint(medium) {
                height: 71px;
            }
        }
    }

    .im-pricebutton {
        border: solid 3px $orange;
        background: $white;
        color: $slate;
        border-radius: 8px;
        font-family: $body-font;
        display: inline-block;

        &:hover {
            background-color: $orange;
            color: $white;
        }

        .im-pricebutton-label {
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }

        .im-pricebutton-amount {
            font-size: 20px;
            font-weight: 700;
        }

        &.sold-out {
            background: $white;
        }
    }

    .instant-confirmation {
        .price {
            font-family: $body-font;
        }
    }

    .property {
        width: 60%;
        padding: 5px 0;

        .thumb {
            border: 0;
            width: 70px;
            height: 80px;
            position: relative;

            @include breakpoint(large) {
                width: 150px;
                height: 110px;
            }

            img {
                @include abs-center;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .address {
            font-size: 13px;
            font-weight: 500;
            display: block;

            @include breakpoint(medium) {
                font-size: 16px;
            }
        }

        a.name {
            color: $slate;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xxlarge), 15px, 21px);
            font-family: $body-font;
            display: inline;
            margin-top: 20px;

            @include breakpoint(medium) {
                display: inline-block;
            }

            &:hover {
                color: $orange;
            }
        }
    }

    .total {
        a {
            & > span:last-of-type:not(.im-pricebutton):not(.im-pricebutton-amount) {
                @include breakpoint(large down) {
                    display: none;
                }
            }
        }
    }

    .price span {
        font-size: 18px;
        font-weight: 500;
        font-family: $body-font;
    }
}

.wdDatePicker_calendar {
    width: 250px;
    height: 250px;
    font-family: $body-font;

    select {
        margin: 40px 0 10px !important;
    }
}

.wdDatePicker-Outer {
    background: #eee;
    border-radius: 3px;
    padding: 8px 15px;
    box-shadow: 3px 3px 10px #000;

    a {
        border-bottom: 0;

        &:hover {
            border-bottom: 0;
        }
    }
}
