@media only screen and (min-width: 1001px) {
    nav.main-menu {
        .main-menu__close-btn {
            display: none;
        }

        ul.main-navigation {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            & > li {
                margin: 0 20px;

                &.current-menu-item a {
                    border-bottom: solid 2px $white;
                }

                & > a {
                    color: $white;
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 19px;
                    letter-spacing: 0.4px;
                    border-bottom: solid 2px transparent;
                    position: relative;

                    &:after {
                        content: '';
                        opacity: 0;
                        display: block;
                        position: absolute;
                        z-index: 1;
                        top: 42px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent $white transparent;
                        transition: 0.2s 0.16s ease-out;
                    }
                }

                &:hover,
                &:focus {
                    .sub-menu {
                        @include visible-hover-thing;
                    }

                    &:not(.home) > a:after {
                        opacity: 1;
                        transition: 0.1s 0.2s ease-out;
                    }
                }

                &.whats-on > .sub-menu {
                    max-width: 360px;

                    li {
                        text-align: center;

                        a {
                            border: 0 !important;
                            display: block;
                            padding-bottom: 20px;
                            background-color: rgba($green, 0.2);
                            transition: background-color 0.2s;

                            &:hover {
                                border: 0 !important;
                                background-color: rgba($green, 0.6);
                            }

                            svg {
                                width: 100px;
                                height: 100px;
                                display: block;
                                margin: 0 auto;
                            }
                        }
                    }
                }

                &.explore > .sub-menu {
                    max-width: 900px;
                    display: flex;

                    .towns-villages {
                        padding: 0;
                        width: 70%;

                        & > a {
                            margin-bottom: 10px;
                            display: inline-block;
                            font-size: 22px;
                        }

                        .sub-menu {
                            display: flex;
                            flex-wrap: wrap;

                            li {
                                text-align: center;
                                width: calc(33% - 10px);
                                margin: 0 5px;

                                a {
                                    position: relative;
                                    display: inline-block;
                                    height: 150px;
                                    width: 100%;
                                    border: 0;
                                    margin-bottom: 0;
                                    overflow: hidden;

                                    &:after {
                                        content: '';
                                        background: linear-gradient(
                                            to bottom,
                                            rgba($black, 0) 0%,
                                            rgba($black, 0.3) 35%,
                                            rgba($black, 0.8) 80%,
                                            rgba($black, 0.98) 100%
                                        );
                                        @include abs-center;
                                        width: 101%;
                                        height: 100%;

                                        @include breakpoint(medium) {
                                            background: linear-gradient(
                                                to bottom,
                                                rgba($slate, 0) 35%,
                                                rgba($slate, 0.8) 80%,
                                                rgba($black, 0.98) 100%
                                            );
                                        }
                                    }

                                    &:hover {
                                        border: 0;

                                        span {
                                            bottom: 10px;
                                        }
                                    }

                                    span {
                                        @include hor-center;
                                        z-index: 2;
                                        bottom: 0;
                                        color: $white;
                                        width: 100%;
                                        padding: 10px 0;
                                        text-transform: uppercase;
                                        font-weight: 700;
                                        letter-spacing: 1px;
                                        transition: all 0.2s;
                                    }

                                    img {
                                        object-fit: cover;
                                        object-position: top;
                                        @include abs-center;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .plan {
                        width: 30%;
                        margin-left: 0;

                        & > a {
                            margin-bottom: 10px;
                            display: inline-block;
                            font-size: 22px;
                        }

                        .sub-menu {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            height: calc(100% - 43px);

                            li {
                                background-color: rgba($green, 0.2);
                                width: 100%;
                                height: 100%;
                                padding: 0 10px;
                                display: flex;
                                margin-bottom: 1px;

                                a {
                                    align-self: center;
                                }

                                &:hover {
                                    background-color: rgba($green, 0.6);
                                }
                            }
                        }
                    }

                    & > li {
                        & > a {
                            text-transform: uppercase;
                        }
                    }
                }

                &.experience > .sub-menu {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 1200px;

                    & > li {
                        border-top: 1px solid $green;
                        padding: 10px 0 0;
                        width: calc(20% - 20px);

                        & > a {
                            text-transform: uppercase;
                        }
                    }
                }

                &.stay > .sub-menu {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 900px;

                    & > li {
                        background-color: rgba($green, 0.2);
                        margin: 0 5px 10px;
                        text-align: center;
                        padding: 15px;
                        width: calc(33% - 10px);
                        transition: background-color 0.2s;

                        &:last-child {
                            width: calc(100% - 18px);
                        }

                        &:hover {
                            background-color: rgba($green, 0.6);
                        }

                        a {
                            border: 0 !important;
                            &:hover {
                                border: 0 !important;
                            }

                            span {
                                display: inline-block;
                                line-height: 1.3;
                            }
                        }

                        &.book-now {
                            grid-column-start: 1;
                            grid-column-end: 4;
                            background-color: rgba($orange, 0.3);

                            &:hover {
                                background-color: rgba($orange, 0.6);
                            }

                            a {
                                font-size: 22px;
                                border: 0;
                                display: block;

                                span {
                                    vertical-align: middle;
                                }

                                &:after {
                                    @include right-angle('black');
                                    width: 20px;
                                    height: 28px;
                                    top: -1px;
                                    position: relative;
                                }
                            }
                        }

                        svg {
                            width: 65px;
                            height: 65px;
                            display: block;
                            margin: 0 auto;
                        }

                        & > a {
                            text-transform: uppercase;
                            vertical-align: top;
                        }
                    }
                }

                & > ul.sub-menu {
                    top: 90px;
                    right: 30px;
                    box-shadow: 0 15px 30px 4px rgba($black, 0.3);
                    width: calc(100% - 60px);
                    border-radius: 6px;
                    // max-width: 1200px;

                    & > li {
                        display: block;
                        margin: 0 10px 10px;
                    }
                }
            }
        }

        ul.sub-menu {
            @include hidden-hover-thing;
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            background-color: $white;
            padding: 30px 25px 20px;

            & > li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                & > a {
                    color: $slate;
                    font-size: 15px;
                    line-height: 1.1;
                    border-bottom: solid 1px transparent;

                    &:hover,
                    &:focus {
                        border-bottom: solid 1px $slate;
                    }
                }

                ul.sub-menu {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    li {
                        margin-bottom: 0;
                        a {
                            font-weight: 400;
                            white-space: nowrap;
                            font-size: 15px;
                            text-transform: initial;
                        }
                    }
                }
            }
        }
    }
}
