@media only screen and (max-width: 1000px) {
    body.nav-active {
        .main-menu {
            position: fixed;
            transform: translate3d(0, 0, 0);
        }

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }

    .main-menu {
        position: fixed;
        transform: translate3d(-100%, 0, 0);
        z-index: 100;
        left: 0;
        top: 0;
        background-color: $white;
        width: 90%;
        height: 100vh;
        padding: 20px 20px 50px;
        overflow-y: scroll;
        will-change: transform;
        transition: transform 0.3s ease-out;

        @include breakpoint(medium) {
            width: 50%;
        }

        &__close-btn {
            position: absolute;
            right: 20px;
            top: 20px;

            svg {
                fill: $slate;
                width: 25px;
                height: 25px;
            }
        }
    }

    ul.main-navigation,
    ul.sub-menu {
        list-style: none;

        ul {
            padding: 0 0 0 20px;
        }
    }

    ul.main-navigation {
        margin: 0;
        padding: 0;

        li {
            margin-bottom: 10px;
            img,
            svg {
                display: none;
            }

            a {
                color: $slate;
                border: 0;

                &:hover,
                &:focus {
                    color: $slate;
                    border: 0;
                }

                &:after {
                    @include right-angle('black');
                }
            }

            ul {
                margin-top: 10px;

                ul {
                    li {
                        a {
                            font-weight: 500;

                            &:after {
                                width: 10px;
                                height: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
