.single-image {
    &__wrapper {
        position: relative;

        img {
            position: relative;
            z-index: 1;
        }

        @include breakpoint(large) {
            &:hover {
                .single-image__desc {
                    transform: rotate(90deg) translate3d(0, 0, 0);
                }
            }
        }
    }

    &--grey {
        background-color: $light-grey !important;
    }

    &--white {
        background-color: $white !important;
    }

    &__desc {
        background-color: $slate;
        color: $white;
        padding: 5px 15px;
        font-weight: 600;
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(90deg) translate3d(0, 40px, 0);
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }

    figure {
        margin: 10px 0 0;
        text-align: center;
        color: lighten($slate, 15%);
        font-size: 14px;

        &:before {
            content: '';
            @include right-angle('black');
            display: block;
            transform: rotate(-90deg);
            margin: 0 auto -5px;
            opacity: 0.6;
        }
    }
}
