.tile-link {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    border-bottom: 0 !important;
    outline: none;
    overflow: hidden;
    left: 0;

    @include breakpoint(large) {
        &:before {
            @include overlay();
            z-index: 1;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:hover {
            &:before {
                opacity: 0.6;
            }

            .book-now {
                background-color: rgba($orange, 1);
            }
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__icon {
        fill: $white;
        width: 50px;
        height: 50px;
        position: relative;
        left: -2px;
        display: block;
    }

    &__text {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 0;
        z-index: 1;
        padding: 0 10px;

        @include breakpoint(medium) {
            padding: 0 20px;
            width: 85%;
            bottom: 20px;
        }

        h4 {
            color: $white;
            margin-top: 0;
            font-weight: 600;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 15px, 27px);
        }

        p {
            color: $white;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, xlarge), 13px, 15px);
            margin-bottom: 0;
            display: none;
            font-weight: 500;

            @include breakpoint(medium) {
                display: block;
            }
        }

        .meta {
            color: $white;
            border-bottom: solid 1px $white;
            margin-bottom: 10px;
            font-weight: 400;
            @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 12px, 14px);
            display: inline-block;
        }

        .book-now {
            background-color: rgba($white, 0.75);
            border: 0;
            padding: 1px 6px;
            font-weight: 700;
            font-size: 9px;
            border-radius: 6px;
            color: $slate;
            text-transform: uppercase;
            transition: background-color 0.2s;

            @include breakpoint(medium) {
                font-size: 12px;
            }
        }

        .read-more {
            display: none;

            span {
                display: block;
                margin-top: 10px;
                color: $white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 700;

                @include breakpoint(medium) {
                    font-size: 15px;
                }

                &:after {
                    @include right-angle('white');
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    &:after {
        content: '';
        background: linear-gradient(
            to bottom,
            rgba($black, 0) 0%,
            rgba($black, 0.3) 35%,
            rgba($black, 0.8) 80%,
            rgba($black, 0.98) 100%
        );
        @include abs-center;
        width: 101%;
        height: 100%;

        @include breakpoint(medium) {
            background: linear-gradient(to bottom, rgba($slate, 0) 35%, rgba($slate, 0.8) 80%, rgba($black, 0.98) 100%);
        }
    }
}

.alternate-layout {
    .tile-link {
        &__icon {
            fill: $white;
            width: 50px;
            height: 50px;
            margin-bottom: 8px;
            display: block;
            margin: 0 auto;

            @include breakpoint(medium) {
                width: 77px;
                height: 77px;
            }
        }

        &__text {
            text-align: center;
            @include abs-center;
            bottom: 0;

            h4 {
                color: $white;
                margin-top: 0;
                font-weight: 600;
                @include fluid-type(font-size, map-get($breakpoints, medium), map-get($breakpoints, large), 20px, 33px);
            }

            .read-more {
                display: block;

                p {
                    display: none;
                }

                span {
                    @include breakpoint(large) {
                        opacity: 0;
                        transform: translateY(10px);
                        transition: opacity 0.3s ease-out, transform 0.4s ease-out;
                    }
                }
            }
        }

        img {
            transform: scale(1);
            transition: transform 0.5s ease;
        }

        &:hover {
            .read-more {
                span {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }

            img {
                transform: scale(1.08);
            }
        }

        &:after {
            background: rgba($slate, 0.5);
        }
    }
}
