.link-list {
    &--grey {
        background-color: $light-grey !important;
    }

    &--white {
        background-color: $white !important;
    }

    &__img {
        margin: 0 auto 15px;
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        overflow: hidden;

        @include breakpoint(medium) {
            width: 140px;
            height: 140px;
        }

        img {
            @include abs-center;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: center;

        li {
            margin: 0 10px 30px;

            @include breakpoint(large) {
                margin: 0 10px 10px;
            }

            a {
                display: inline-block;
                margin: 0 20px;
                border-bottom: solid 1px transparent;
                text-transform: uppercase;
                font-weight: 600;
                color: $slate;

                &:hover {
                    font-weight: 600;
                    color: $slate;
                    border-bottom: solid 1px $slate;
                }

                &:after {
                    @include right-angle('black');
                    position: relative;
                    top: -2px;
                    width: 18px;
                    height: 27px;
                }
            }
        }
    }
}
