.section-attractions {
    p:last-child {
        margin-bottom: 30px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .attractions-column {
        &.attractions-count-1 {
            @include breakpoint(large) {
                height: 400px;
                &:nth-of-type(1) {
                    .attractions-article {
                        height: 100%;
                    }
                }
            }
        }

        &.attractions-count-2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .attractions-article {
                width: 100%;

                @include breakpoint(large) {
                    width: 50%;
                }
            }
        }

        &.attractions-count-3 {
            @include breakpoint(large) {
                height: 600px;
                &:nth-of-type(1) {
                    .attractions-article {
                        height: 50%;

                        &:nth-of-type(2) {
                            height: 50%;
                        }
                    }
                }

                &:nth-of-type(2) {
                    .attractions-article {
                        height: 100%;
                    }
                }
            }
        }

        &.attractions-count-4 {
            @include breakpoint(large) {
                height: 740px;
                &:nth-of-type(1) {
                    .attractions-article {
                        height: 65%;

                        &:nth-of-type(2) {
                            height: 35%;
                        }
                    }
                }

                &:nth-of-type(2) {
                    .attractions-article {
                        height: 40%;

                        &:nth-of-type(2) {
                            height: 60%;
                        }
                    }
                }
            }
        }

        &.attractions-count-5 {
            @include breakpoint(large) {
                height: 740px;
                &:nth-of-type(1) {
                    .attractions-article {
                        height: 65%;

                        &:nth-of-type(2) {
                            height: 35%;
                        }
                    }
                }

                &:nth-of-type(2) {
                    .attractions-article {
                        height: 40%;

                        &:nth-of-type(2) {
                            height: 60%;
                        }
                    }
                }

                &:nth-of-type(3) {
                    .attractions-article {
                        height: 100%;
                    }
                }
            }
        }

        &.attractions-count-6 {
            @include breakpoint(large) {
                height: 740px;
                &:nth-of-type(1) {
                    .attractions-article {
                        height: 65%;

                        &:nth-of-type(2) {
                            height: 35%;
                        }
                    }
                }

                &:nth-of-type(2) {
                    .attractions-article {
                        height: 40%;

                        &:nth-of-type(2) {
                            height: 60%;
                        }
                    }
                }

                &:nth-of-type(3) {
                    .attractions-article {
                        height: 50%;
                    }
                }
            }
        }
    }

    .attractions-article {
        position: relative;
        padding-bottom: 35%;
        border: solid 4px transparent;

        @include breakpoint(large) {
            border: solid 8px transparent;
        }
    }
}
