.fav-notification {
    position: fixed;
    width: calc(100% - 40px);
    top: 60px;
    right: 20px;
    background-color: $slate;
    z-index: 10;
    box-shadow: 0px 3px 12px -1px rgba($black, 0.7);
    padding: 6px 10px 12px;
    border-radius: 8px;
    color: $white;
    transform: translate3d(100%, 0, 0);
    transition: all 0.5s;

    @include breakpoint(medium) {
        width: auto;
        top: 40px;
        right: 40px;
        padding: 16px 20px 22px;
    }

    a {
        font-size: 14px;
    }

    &.active {
        opacity: 1 !important;
        transform: translate3d(0, 0, 0);
    }
}
