.favourites-page {
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            position: relative;

            button {
                position: absolute;
                top: -10px;
                left: 0px;
                font-weight: 500;
                font-size: 12px;
                background-color: rgba($white, 0.7);
                height: 40px;
                width: 40px;
                border-radius: 50%;

                @include breakpoint(medium) {
                    border-radius: 8px;
                    height: auto;
                    width: auto;
                    padding-left: 30px;
                    right: 0;
                    bottom: 20px;
                    left: unset;
                    top: unset;
                }

                .remove-text {
                    display: none;

                    @include breakpoint(medium) {
                        display: inline-block;
                    }
                }

                span:not(.remove-text) {
                    font-size: 33px;
                    position: absolute;
                    left: 11px;
                    top: 2px;

                    @include breakpoint(medium) {
                        font-size: 23px;
                    }
                }
            }
        }
    }
}
