.article:hover,
.accomm-article:hover,
.events-article:hover,
.attractions-article:hover,
.listing-article:hover {
    .favourite-btn {
        opacity: 1;
    }
}

.events-article .favourite-btn,
.listing-article.event .favourite-btn {
    top: 30px;
}

.events-article .favourite-btn {
    left: 10px;
}

.favourite-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    opacity: 1;
    transition: 0.3s ease-out;

    @include breakpoint(medium) {
        padding: 20px;
    }

    @include breakpoint(large) {
        opacity: 0;
    }

    svg {
        fill: $white;
        width: 20px;
        height: 20px;

        @include breakpoint(medium) {
            width: 25px;
            height: 25px;
        }
    }

    &:hover {
        svg {
            fill: $peach;
        }
    }

    &.active {
        opacity: 1;

        svg {
            fill: $peach;
            stroke: transparent;
        }
    }
}
