.accomm-section {
    p:last-child {
        margin-bottom: 30px;
    }

    .accomm-top {
        display: flex;
        justify-content: center;

        .accomm-article {
            width: 50%;

            @include breakpoint(large) {
                width: 67.2%;
            }

            &:first-child {
                .tile-link__text .read-more {
                    opacity: 1;

                    @include breakpoint(large) {
                        height: 70px;
                    }
                }
            }

            &:last-child {
                width: 50%;

                @include breakpoint(large) {
                    width: 33.333333333333333%;
                }
            }
        }
    }

    .accomm-article {
        position: relative;
        height: 200px;
        border: solid 1px transparent;

        @include breakpoint(medium) {
            border: solid 4px transparent;
        }

        @include breakpoint(large) {
            border: solid 8px transparent;
            height: 350px;
        }
    }

    .accomm-carousel {
        position: relative;

        .slick-prev-arrow,
        .slick-next-arrow {
            display: inline-block;
            position: relative;
            background-color: $white;
            box-shadow: 0px 3px 27px 0px rgba($black, 0.35);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include vert-center;
            top: 43%;
            right: 20px;
            z-index: 10;
            cursor: pointer;
            transform: translateX(0);
            opacity: 0.6;
            transition: opacity 0.3s ease-out;

            &:after {
                @include right-angle('black');
                width: 30px;
                height: 45px;
                @include abs-center;
                left: 42%;
                top: 48%;
            }

            @include breakpoint(1385px) {
                right: -23px;
            }

            &:hover {
                opacity: 1;
            }

            &.slick-disabled {
                display: none !important;
            }
        }

        .slick-prev-arrow {
            left: 20px;
            transform: rotate(-180deg);

            @include breakpoint(1385px) {
                left: -20px;
            }

            &:after {
                @include abs-center;
                left: 43%;
                top: 45%;
            }
        }

        .slick-dots {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 80%;
            margin: 2px auto 0;
            display: flex !important;
            flex-direction: row;
            justify-content: center;

            li {
                margin: 0 4px;
                button {
                    border: 0;
                    padding: 0;
                    text-indent: -9999px;
                    background-color: $slate;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    outline: none;
                    box-shadow: $map-shadow;
                }

                &.slick-active button {
                    background-color: $peach;
                }
            }
        }
    }
}
